<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">

<link rel="import" href="../../../components/components/appsco-loader.html">
<link rel="import" href="appsco-company-resource-settings.html">

<link rel="import" href="../../../lib/mixins/appsco-headers-mixin.html">

<dom-module id="appsco-company-resource-settings-dialog">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
            }
            :host paper-dialog {
                width: 670px;
                top: 10vh;
                @apply --appsco-paper-dialog;
            }
            :host paper-dialog-scrollable > * {
                @apply --paper-dialog-scrollable-child;
            }
            :host appsco-loader {
                margin: 0 !important;
                padding: 0 !important;
            }
            :host .buttons paper-button {
                @apply --paper-dialog-button;
            }
            :host .buttons paper-button[dialog-dismiss] {
                @apply --paper-dialog-dismiss-button;
            }
            appsco-application-settings {
                --form-action: {
                    display: none;
                };
            }
        </style>

        <paper-dialog id="dialog"
                      with-backdrop
                      entry-animation="scale-up-animation"
                      exit-animation="fade-out-animation"
                      on-iron-overlay-closed="_onDialogClosed">

            <h2>Manage</h2>

            <appsco-loader active="[[ _loader ]]"
                           loader-alt="Appsco is processing request"
                           multi-color></appsco-loader>

            <paper-dialog-scrollable>
                <div class="dialog-container">
                    <div>
                        <appsco-company-resource-settings
                                id="appscoCompanyResourceSettings"
                                resource="[[ companyApplication ]]"
                                authorization-token="[[ authorizationToken ]]"
                                api-errors="[[ apiErrors ]]"
                                domain="[[ domain ]]"
                                is-dialog="0"
                        ></appsco-company-resource-settings>
                    </div>
                </div>
            </paper-dialog-scrollable>

            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button autofocus on-tap="_onSave">Save</paper-button>
            </div>

        </paper-dialog>


    </template>
    <script>
        class AppscoCompanyResourceSettingsDialog extends Polymer.mixinBehaviors([Appsco.HeadersMixin], Polymer.Element) {
            static get is() { return 'appsco-company-resource-settings-dialog'; }

            static get properties() {
                return {
                    account: {
                        type: Object,
                        value: function () {
                            return {};
                        }
                    },

                    apiErrors: {
                        type: Object,
                        value: function () {
                            return {};
                        }
                    },

                    domain: {
                        type: String
                    },

                    _applicationSettings: {
                        type: Boolean,
                        value: false
                    },

                    application: {
                        type: Object,
                        value: function () {
                            return {};
                        }
                    },

                    companyApplication: {
                        type: Object,
                        value: function () {
                            return {};
                        }
                    },

                    _loader: {
                        type: Boolean,
                        value: false
                    }
                };
            }

            setApplication(application) {
                this._loadCompanyApplication(application);
                this.application = application;
            }

            toggle() {
                this.$.dialog.toggle();
            }

            _onDialogClosed() {
                this._loader = false;
            }

            _onSave() {
                const _self = this;
                this.$.appscoCompanyResourceSettings.save(function() {
                    _self.toggle();
                    _self.dispatchEvent(new CustomEvent('company-resource-edited', {
                        bubbles: true,
                        composed: true,
                        detail: {
                            resource: this.companyApplication
                        }
                    }));
                });
            }

            _onApplicationsSettingsSaved() {
                this._hideLoader();
                this.toggle();
            }

            _onFormError() {
                this._hideLoader();
            }

            _showLoader() {
                this._loader = true;
            }

            _hideLoader() {
                this._loader = false;
            }

            _loadCompanyApplication(application) {
                const applicationSelf = application && application.application
                    ? application.application.meta.company_self
                    : application.self;

                const request = document.createElement('iron-request'),
                    options = {
                        url: applicationSelf,
                        method: 'GET',
                        handleAs: 'json',
                        headers: this._headers
                    };

                this._showLoader();

                request.send(options).then(function() {
                    if (200 === request.status) {
                        var resource = request.response;
                        this.set('companyApplication', resource);
                        this._hideLoader();
                    }

                }.bind(this), function() {
                    this._showError(this.apiErrors.getError(request.error.code));
                }.bind(this));
            }
        }
        window.customElements.define(AppscoCompanyResourceSettingsDialog.is, AppscoCompanyResourceSettingsDialog);
    </script>
</dom-module>