<!doctype html>
<html>
<head>
    <title>appsco-page demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../../../../../@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>

    <script type="module" src="../../../../../../@polymer/iron-demo-helpers/demo-pages-shared-styles.js"></script>
    <script type="module" src="../../../../../../@polymer/iron-demo-helpers/demo-snippet.js"></script>
    <script type="module" src="../../../../../../@polymer/paper-button/paper-button.js"></script>

    <script type="module" src="../appsco-content.js"></script>

    <!-- FIXME(polymer-modulizer):
        These imperative modules that innerHTML your HTML are
        a hacky way to be sure that any mixins in included style
        modules are ready before any elements that reference them are
        instantiated, otherwise the CSS @apply mixin polyfill won't be
        able to expand the underlying CSS custom properties.
        See: https://github.com/Polymer/polymer-modulizer/issues/154
        -->
    <script type="module">
const $_documentContainer = document.createElement('template');

$_documentContainer.innerHTML = `<custom-style>
        <style include="demo-pages-shared-styles">
          appsco-content {
              height: 200px;
          }
        </style>
    </custom-style>`;

document.body.appendChild($_documentContainer.content);
</script>
</head>
<body>

<script type="module">
const $_documentContainer = document.createElement('template');

$_documentContainer.innerHTML = `<div class="vertical-section-container centered">
    <h3>appsco-content with all 3 sections</h3>
    <paper-button id="button">Toggle info</paper-button>
    <demo-snippet>
        <template>

            <appsco-content id="content">
                <div resource="" slot="resource"> Resource section </div>
                <div content="" slot="content"> Content section </div>
                <div info="" slot="info"> Info section </div>
            </appsco-content>
        </template>
    </demo-snippet>
    <h3>appsco-content with content and info</h3>
    <paper-button id="button2">Toggle info</paper-button>
    <demo-snippet>
        <template>
            <appsco-content id="content2">
                <div content="" slot="content"> Content section </div>
                <div info="" slot="info"> Info section </div>
            </appsco-content>
        </template>
    </demo-snippet>
    <h3>appsco-content with content only</h3>
    <demo-snippet>
        <template>
            <appsco-content>
                <div content="" slot="content"> Content section </div>
            </appsco-content>
        </template>
    </demo-snippet>
    <script defer="">
        document.querySelector('#button').addEventListener('tap', function () {
            document.querySelector('#content').toggleInfo();
        });
        document.querySelector('#button2').addEventListener('tap', function () {
            document.querySelector('#content2').toggleInfo();
        });
    &lt;/script>
</div>`;

document.body.appendChild($_documentContainer.content);
</script>
});
document.querySelector('#button2').addEventListener('tap', function () {
    document.querySelector('#content2').toggleInfo();
});
</script>
</div>

</body>
</html>
