<!doctype html>
<html>
<head>
    <title>appsco-page demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../../../../../@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>

    <script type="module" src="../../../../../../@polymer/iron-demo-helpers/demo-pages-shared-styles.js"></script>
    <script type="module" src="../../../../../../@polymer/iron-demo-helpers/demo-snippet.js"></script>
    <script type="module" src="../../../../../../@polymer/paper-toast/paper-toast.js"></script>

    <script type="module" src="../appsco-page-global.js"></script>

    <!-- FIXME(polymer-modulizer):
        These imperative modules that innerHTML your HTML are
        a hacky way to be sure that any mixins in included style
        modules are ready before any elements that reference them are
        instantiated, otherwise the CSS @apply mixin polyfill won't be
        able to expand the underlying CSS custom properties.
        See: https://github.com/Polymer/polymer-modulizer/issues/154
        -->
    <script type="module">
const $_documentContainer = document.createElement('template');

$_documentContainer.innerHTML = `<custom-style>
        <style include="demo-pages-shared-styles">
          :root appsco-page-global {
              --appsco-icon-active: {
                  color: blueviolet;
              }
          }
        </style>
    </custom-style>`;

document.body.appendChild($_documentContainer.content);
</script>
</head>
<body>

<script type="module">
const $_documentContainer = document.createElement('template');

$_documentContainer.innerHTML = `<div class="vertical-section-container centered">
    <h3>appsco-page-gloabl demo</h3>
    <demo-snippet>
        <template is="dom-bind">
            <appsco-page-global id="global" info="" filters=""></appsco-page-global>

            <paper-toast id="toast"></paper-toast>

            <script>
                global.addEventListener('page-global-info', function() {
                    toast.text = 'Event fired: page-global-info.';
                    toast.open();
                });
                global.addEventListener('page-global-filters', function() {
                    toast.text = 'Event fired: page-global-filters.';
                    toast.open();
                });
            &lt;/script>
        </template>
    </demo-snippet>


</div>`;

document.body.appendChild($_documentContainer.content);
</script>st.open();
});
</script>
        </template>
    </demo-snippet>


</div>

</body>
</html>
