<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">

<link rel="import" href="../../components/components/appsco-loader.html">
<link rel="import" href="../../components/components/appsco-form-error.html">
<link rel="import" href="../../components/combo-box/suggestion-combo-box.html">

<link rel="import" href="appsco-integration-rules-operators.html">
<link rel="import" href="../../lib/mixins/appsco-headers-mixin.html">

<dom-module id="appsco-add-integration-rule">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
            }
            :host paper-dialog {
                width: 980px;
                top: 120px;
                @apply --appsco-paper-dialog;
            }
            :host paper-dialog-scrollable > * {
                @apply --paper-dialog-scrollable-child;
            }
            :host appsco-loader {
                margin: 0 !important;
                padding: 0 !important;
            }
            :host .buttons paper-button {
                @apply --paper-dialog-button;
            }
            :host .buttons paper-button[dialog-dismiss] {
                @apply --paper-dialog-dismiss-button;
            }
            paper-dropdown-menu {
                width: 100%;
            }
            paper-toggle-button {
                cursor: pointer;
                margin-top: 20px;
            }
            :host .subtitle {
                margin-top: 30px;
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;
            }
            :host .primary-button, :host .danger-button {
                @apply --primary-button;
                display: inline-block;
                margin-top: 10px;
            }
            :host .primary-button[active] {
                @apply --shadow-elevation-4dp;
            }
            :host .display-none {
                display: none;
            }
            :host .input-container-title {
                font-size: 16px;
                margin-top: 20px;
            }
            :host div.input-container table {
                width: 100%;
            }
            :host div.input-container table td.operator-select {
                width: 30%;
            }
        </style>

        <appsco-integration-rules-operators id="operators"></appsco-integration-rules-operators>

        <iron-ajax id="getIntegrationPSOSApiRequest"
                   url="[[ _getIntegrationPSOSApi ]]"
                   headers="[[ _headers ]]"
                   on-error="_onIntegrationPSOSError"
                   on-response="_onIntegrationPSOSResponse"></iron-ajax>

        <iron-ajax auto
                   url="[[ _getAppscoPSOSApi ]]"
                   headers="[[ _headers ]]"
                   on-error="_onAppscoPSOSError"
                   on-response="_onAppscoPSOSResponse"></iron-ajax>

        <paper-dialog id="dialog"
                      entry-animation="scale-up-animation"
                      exit-animation="fade-out-animation"
                      on-iron-overlay-opened="_onDialogOpened"
                      on-iron-overlay-closed="_onDialogClosed">

            <h2>Create integration rule</h2>

            <appsco-loader active="[[ _loader ]]"
                           loader-alt="AppsCo is processing request"
                           multi-color></appsco-loader>

            <paper-dialog-scrollable>
                <div class="dialog-container">

                    <appsco-form-error message="[[ _errorMessage ]]"></appsco-form-error>

                    <iron-form
                            id="form"
                            headers="[[ _headers ]]"
                            on-iron-form-presubmit="_onFormPresubmit"
                            on-iron-form-error="_onFormError"
                            on-iron-form-response="_onFormResponse">
                        <form
                          method="POST"
                          action="[[ _addIntegrationRuleApi ]]">
                            <div class="input-container">
                                <paper-input id="title"
                                             label="Rule name"
                                             name="integration_recipe[name]"
                                             required
                                             auto-validate
                                             error-message="Please enter rule name."></paper-input>
                            </div>

                            <template is="dom-if" if="[[ _integrationKindRA ]]">
                                <div class="subtitle">Define reaction to event in [[ integration.name ]]</div>
                                <p>
                                    Here you can define interaction with [[ integration.name ]] and AppsCo.
                                    Define events in [[ integration.name ]] and object to which this rule should react.
                                </p>
                                <p>
                                    Lookup - query the [[ integration.name ]] for list of defined incoming objects<br>
                                    Added - react to added event in the [[ integration.name ]]<br>
                                    Modified - react to modified event in the [[ integration.name ]]<br>
                                    Removed - react to removed event in the [[ integration.name ]]
                                </p>
                            </template>
                            <template is="dom-if" if="[[ !_integrationKindRA ]]">
                                <div class="subtitle">Events in AppsCo</div>
                                <p>
                                    Here you can define interaction with [[ integration.name ]] and AppsCo.
                                    Define events in AppsCo and object to which this rule should react.
                                </p>
                                <p>
                                    Lookup - this option is not applicable to AppsCo<br>
                                    Added - react to when user is added in AppsCo directory<br>
                                    Modified - react to when user in your company is modified inside AppsCo<br>
                                    Removed - react to when user is removed from your company in AppsCo
                                </p>
                            </template>

                            <div class="input-container">
                                <paper-dropdown-menu id="fromMethod"
                                                     label="Choose event or query the system"
                                                     name="integration_recipe[fromMethod]"
                                                     horizontal-align="left"
                                                     on-iron-overlay-opened="_onIronOverlayEvents"
                                                     on-iron-overlay-closed="_onIronOverlayEvents"
                                                     required
                                                     error-message="Please select at least one option."
                                                     auto-validate>
                                    <paper-listbox id="fromMethodList"
                                                   class="dropdown-content"
                                                   on-iron-activate="_onFromMethodSelected"
                                                   attr-for-selected="value" slot="dropdown-content">
                                        <template is="dom-repeat" items="[[ _computedFromMethodList ]]">
                                            <paper-item value="[[ item.value ]]">[[ item.name ]]</paper-item>
                                        </template>
                                    </paper-listbox>
                                </paper-dropdown-menu>
                            </div>
                            <div class="input-container">
                                <paper-dropdown-menu id="fromPSO"
                                                     label="Incoming object (user, group)"
                                                     name="integration_recipe[fromPSO]"
                                                     horizontal-align="left"
                                                     on-iron-overlay-opened="_onIronOverlayEvents"
                                                     on-iron-overlay-closed="_onIronOverlayEvents"
                                                     required
                                                     error-message="Please select object."
                                                     auto-validate>
                                    <paper-listbox id="fromPSOList"
                                                   class="dropdown-content"
                                                   attr-for-selected="value"
                                                   on-iron-activate="_onFromPSOSelected" slot="dropdown-content">
                                        <template is="dom-repeat" items="[[ _computedFromPSOList ]]">
                                            <paper-item value="[[ item.key ]]">[[ item.value ]]</paper-item>
                                        </template>
                                    </paper-listbox>
                                </paper-dropdown-menu>
                            </div>
                            <template is="dom-if" if="[[ _fromConditionListExist ]]">
                                <div class="input-container">
                                    <p>Further filter incoming object</p>
                                    <paper-button class="primary-button"
                                                  on-tap="_onToggleConditionAction"
                                                  disabled$="[[ !_fromPSOSelected ]]"
                                                  toggles>Advanced</paper-button>
                                </div>
                            </template>
                            <div id="fromConditionField"
                                 class="input-container display-none">
                                <p>Define regular expression for fields to further filter the object. </p>
                                <div class="input-container-title">Conditions:</div>
                                <div class="input-container">
                                    <table>
                                        <tbody>
                                            <template is="dom-repeat" items="[[ _fromConditionList ]]">
                                                <tr>
                                                    <td class="operator-select">
                                                        <paper-dropdown-menu id="fromConditionOperator_[[ item.key ]]"
                                                                             label="Operator"
                                                                             name="fromConditionOperator_[[ item.key ]]"
                                                                             horizontal-align="left"
                                                                             on-iron-overlay-opened="_onIronOverlayEvents"
                                                                             on-iron-overlay-closed="_onIronOverlayEvents"
                                                                             required
                                                                             error-message="Please select operator."
                                                                             auto-validate>
                                                            <paper-listbox id="fromCondition_[[ item.key ]]"
                                                                           class="dropdown-content"
                                                                           attr-for-selected="value" selected="{{ item.operator }}" slot="dropdown-content">
                                                                <template is="dom-repeat" items="[[ item.supportedOperators ]]" as="operator">
                                                                    <paper-item value="[[ operator ]]">[[ _formatOperator(operator) ]]</paper-item>
                                                                </template>
                                                            </paper-listbox>
                                                        </paper-dropdown-menu>
                                                    </td>
                                                    <td>
                                                        <template is="dom-if" if="[[ item.options ]]">
                                                            <suggestion-combo-box label="[[ item.key ]]" value="{{ item.value }}" options="[[ item.options ]]" ></suggestion-combo-box>
                                                        </template>
                                                        <template is="dom-if" if="[[ !item.options ]]">
                                                            <paper-input label="[[ item.key ]]" value="{{ item.value }}"></paper-input>
                                                        </template>
                                                    </td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <template is="dom-if" if="[[ _integrationKindRA ]]">
                                <div class="subtitle">Define action that should be performed on AppsCo</div>
                                <p>
                                    Define action and object to which this will be applied in AppsCo.
                                </p>
                                <p>
                                    Add - add object into AppsCo<br>
                                    Modify - modify object in AppsCo<br>
                                    Remove - remove object from AppsCo
                                </p>
                            </template>
                            <template is="dom-if" if="[[ !_integrationKindRA ]]">
                                <div class="subtitle">Defined action that should be performed in [[ integration.name ]]</div>
                                <p>
                                    Define action and object to which this will be applied in [[ integration.name ]].
                                </p>
                                <p>
                                    Add - add object into [[ integration.name ]]<br>
                                    Modify - modify object in [[ integration.name ]]<br>
                                    Remove - remove object from [[ integration.name ]]
                                </p>
                            </template>
                            <div class="input-container">
                                <paper-dropdown-menu id="toMethod"
                                                     label="Action to be performed"
                                                     name="integration_recipe[toMethod]"
                                                     horizontal-align="left"
                                                     on-iron-overlay-opened="_onIronOverlayEvents"
                                                     on-iron-overlay-closed="_onIronOverlayEvents"
                                                     required
                                                     error-message="Please select method."
                                                     auto-validate>
                                    <paper-listbox id="toMethodList"
                                                   class="dropdown-content"
                                                   on-iron-activate="_onToMethodSelected"
                                                   attr-for-selected="value" slot="dropdown-content">
                                        <template is="dom-repeat" items="[[ _computedToMethodList ]]">
                                            <paper-item value="[[ item.value ]]">[[ item.name ]]</paper-item>
                                        </template>
                                    </paper-listbox>
                                </paper-dropdown-menu>
                            </div>
                            <div class="input-container">
                                <paper-dropdown-menu id="toPSO"
                                                     label="Affected object"
                                                     name="integration_recipe[toPSO]"
                                                     horizontal-align="left"
                                                     on-iron-overlay-opened="_onIronOverlayEvents"
                                                     on-iron-overlay-closed="_onIronOverlayEvents"
                                                     required
                                                     error-message="Please select object."
                                                     auto-validate>
                                    <paper-listbox id="toPSOList"
                                                   class="dropdown-content"
                                                   attr-for-selected="value"
                                                   on-iron-activate="_onToPSOSelected" slot="dropdown-content">
                                        <template is="dom-repeat" items="[[ _computedToPSOList ]]">
                                            <paper-item value="[[ item.key ]]">[[ item.value ]]</paper-item>
                                        </template>
                                    </paper-listbox>
                                </paper-dropdown-menu>
                            </div>
                            <template is="dom-if" if="[[ _toParamsListExist ]]">
                                <div class="input-container">
                                    <p>Further define affected object</p>
                                    <paper-button class="primary-button"
                                                  on-tap="_onToggleParamsAction"
                                                  disabled$="[[ !_toPSOSelected ]]"
                                                  toggles>Advanced</paper-button>
                                </div>
                                <div id="toParamField"
                                     class="input-container" hidden$="[[ !_paramsVisible ]]">
                                    <p>Set default values that should be applied in affected object</p>
                                    <div class="input-container-title">Fields:</div>

                                    <div class="input-container">
                                        <template is="dom-repeat" items="[[ _toParamsList ]]">
                                            <template is="dom-if" if="[[ item.options ]]">
                                                <suggestion-combo-box label="[[ item.key ]]" value="{{ item.value }}" options="[[ item.options ]]" ></suggestion-combo-box>
                                            </template>
                                            <template is="dom-if" if="[[ !item.options ]]">
                                                <paper-input label="[[ item.key ]]" value="{{ item.value }}"></paper-input>
                                            </template>
                                        </template>
                                    </div>
                                </div>
                            </template>

                            <div class="input-container">
                                <paper-toggle-button id="active"
                                                     name="integration_recipe[active]">Activate rule</paper-toggle-button>
                            </div>
                        </form>
                    </iron-form>
                </div>
            </paper-dialog-scrollable>

            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button autofocus on-tap="_onAddAction">Add</paper-button>
            </div>
        </paper-dialog>

        <iron-a11y-keys target="[[ _target ]]"
                        keys="enter"
                        on-keys-pressed="_onEnterAction"></iron-a11y-keys>

    </template>
    <script>
        class AppscoAddIntegrationRule extends Polymer.mixinBehaviors([
            Polymer.NeonAnimationRunnerBehavior,
            Appsco.HeadersMixin
        ], Polymer.Element) {
            static get is() { return 'appsco-add-integration-rule'; }

            static get properties() {
                return {
                    integration: {
                        type: Object,
                        value: function () {
                            return {};
                        }
                    },

                    apiErrors: {
                        type: Object,
                        value: function () {
                            return {};
                        }
                    },

                    _getIntegrationPSOSApi: {
                        type: String,
                        computed: '_computeGetIntegrationPSOSApi(integration)'
                    },

                    _getAppscoPSOSApi: {
                        type: String,
                        computed: '_computeGetAppscoPSOSApi(integration)'
                    },

                    _addIntegrationRuleApi: {
                        type: String,
                        computed: '_computeAddIntegrationRuleApi(integration)'
                    },

                    _integrationKindRA: {
                        type: Boolean,
                        computed: '_computeIntegrationKindRA(integration)'
                    },

                    _selectedFromMethod: {
                        type: String,
                        value: ''
                    },

                    _selectedToMethod: {
                        type: String,
                        value: ''
                    },

                    _fromMethodList: {
                        type: Array,
                        value: function () {
                            return [
                                {
                                    value: 'from_lookup',
                                    name: 'Lookup'
                                },
                                {
                                    value: 'from_added',
                                    name: 'Added'
                                },
                                {
                                    value: 'from_modified',
                                    name: 'Modified'
                                },
                                {
                                    value: 'from_deleted',
                                    name: 'Removed'
                                }
                            ];
                        }
                    },

                    _computedFromMethodList: {
                        type: Array,
                        computed: '_computeFromMethodList(_fromMethodList, integration)'
                    },

                    _fromPSOList: {
                        type: Array,
                        value: function () {
                            return [];
                        }
                    },

                    _computedFromPSOList: {
                        type: Array,
                        computed: '_computeFromPSOList(_fromPSOList, _selectedFromMethod, integration)'
                    },

                    _computedToPSOList: {
                        type: Array,
                        computed: '_computeToPSOList(_availableToPSOList, _selectedToMethod, integration)'
                    },

                    _fromConditionList: {
                        type: Array,
                        value: function () {
                            return [];
                        }
                    },

                    _fromConditionListExist: {
                        type: Boolean,
                        computed: '_computeEmptyArray(_fromConditionList)'
                    },

                    _toParamsList: {
                        type: Array,
                        value: function () {
                            return [];
                        }
                    },

                    _toParamsListExist: {
                        type: Boolean,
                        computed: '_computeEmptyArray(_toParamsList)'
                    },

                    _toMethodList: {
                        type: Array,
                        value: function () {
                            return [
                                {
                                    value: 'add',
                                    name: 'Add'
                                },
                                {
                                    value: 'modify',
                                    name: 'Modify'
                                },
                                {
                                    value: 'delete',
                                    name: 'Remove'
                                }
                            ];
                        }
                    },

                    _computedToMethodList: {
                        type: Array,
                        computed: '_computeToMethodList(_toMethodList, integration)'
                    },

                    _toPSOList: {
                        type: Array,
                        value: function () {
                            return [];
                        }
                    },

                    _availableToPSOList: {
                        type: Array,
                        value: function () {
                            return []
                        }
                    },

                    _appscoPSOList: {
                        type: Array,
                        value: function () {
                            return [];
                        }
                    },

                    _fromPSOSelected: {
                        type: Boolean,
                        value: false
                    },

                    _toPSOSelected: {
                        type: Boolean,
                        value: false
                    },

                    _conditionVisible: {
                        type: Boolean,
                        value: false
                    },

                    _paramsVisible: {
                        type: Boolean,
                        value: false
                    },

                    _loader: {
                        type: Boolean,
                        value: false
                    },

                    _errorMessage: {
                        type: String
                    },

                    _target: {
                        type: Object
                    },

                    animationConfig: {
                        type: Object
                    }
                };
            }

            ready() {
                super.ready();

                this.animationConfig = {
                    'entry': {
                        name: 'fade-in-animation',
                        node: this.$.fromConditionField,
                        timing: {
                            duration: 300
                        }
                    },
                    'exit': {
                        name: 'fade-out-animation',
                        node: this.$.fromConditionField,
                        timing: {
                            duration: 200
                        }
                    }
                };
                this._target = this.$.form;

                Polymer.RenderStatus.afterNextRender(this, function() {
                    this._addListeners();
                });
            }

            _addListeners() {
                this.addEventListener('neon-animation-finish', this._onNeonAnimationFinished);
            }

            setIntegration(integration) {
                this.set('integration', integration);
            }

            open() {
                this.$.dialog.open();
            }

            close() {
                this.$.dialog.close();
            }

            toggle() {
                this.$.dialog.toggle();
            }

            _showLoader() {
                this._loader = true;
            }

            _hideLoader() {
                this._loader = false;
            }

            _showError(message) {
                this._errorMessage = message;
            }

            _hideError() {
                this._errorMessage = '';
            }

            _reset() {
                const me = this;

                this._target.reset();
                this._fromPSOSelected = false;
                this._toPSOSelected = false;
                this._conditionVisible = false;
                this._paramsVisible = false;
                this._hideConditionFields();
                this.shadowRoot.getElementById('fromMethodList').selected = -1;
                this.shadowRoot.getElementById('fromPSOList').selected = -1;
                this.shadowRoot.getElementById('toMethodList').selected = -1;
                this.shadowRoot.getElementById('toPSOList').selected = -1;

                this._fromConditionList.forEach(function(element) {
                    if (me.$$('#fromCondition_' + element.key)) {
                        me.$$('#fromCondition_' + element.key).selected = null;
                    }
                    if (me.$$('#fromConditionOperator_' + element.key)) {
                        me.$$('#fromConditionOperator_' + element.key).selected = null;
                    }
                });

                Polymer.dom(this.root).querySelectorAll('paper-button').forEach(function(element) {
                    element.active = false;
                });
            }

            _computeFromMethodList(_fromMethodList, integration) {
                const fromMethods = [];

                if (integration
                    && integration.supported_actions
                    && integration.supported_actions.source
                    && integration.supported_actions.source.existing
                ) {
                    for (const idx in integration.supported_actions.source.existing) {
                        for (const idx2 in _fromMethodList) {
                            if (_fromMethodList[idx2].value == integration.supported_actions.source.existing[idx]) {
                                fromMethods.push(
                                    _fromMethodList[idx2]
                                );
                            }
                        }
                    }
                }

                return fromMethods;
            }

            _computeToMethodList(_toMethodList, integration) {
                const toMethods = [];

                if (integration
                    && integration.supported_actions
                    && integration.supported_actions.target
                    && integration.supported_actions.target.existing
                ) {
                    for (const idx in integration.supported_actions.target.existing) {
                        for (const idx2 in _toMethodList) {
                            if (_toMethodList[idx2].value == integration.supported_actions.target.existing[idx]) {
                                toMethods.push(
                                    _toMethodList[idx2]
                                );
                            }
                        }
                    }
                }

                return toMethods;
            }

            _computeFromPSOList(_fromPSOList, _selectedFromMethod, integration) {
                const psos = [],
                    targets = {};
                for (const idx in _fromPSOList) {
                    targets[_fromPSOList[idx].key] = _fromPSOList[idx];
                }
                if (integration
                    && integration.supported_actions
                    && integration.supported_actions.source
                    && integration.supported_actions.source.pso
                ) {
                    for (const pso in integration.supported_actions.source.pso) {
                        if (integration.supported_actions.source.pso[pso].indexOf(_selectedFromMethod) > -1) {
                            psos.push(targets[pso]);
                        }
                    }
                }

                return psos;
            }

            _computeToPSOList(_availableToPSOList, _selectedToMethod, integration) {
                const psos = [],
                    available = {};
                for (const idx in _availableToPSOList) {
                    available[_availableToPSOList[idx].key] = _availableToPSOList[idx];
                }
                if (integration
                    && integration.supported_actions
                    && integration.supported_actions.target
                    && integration.supported_actions.target.pso
                ) {
                    for (const pso in integration.supported_actions.target.pso) {
                        if (integration.supported_actions.target.pso[pso].indexOf(_selectedToMethod) > -1
                            && available[pso]
                        ) {
                            psos.push(available[pso]);
                        }
                    }
                }

                return psos;
            }

            _onFromMethodSelected(event) {
                this._selectedFromMethod = event.detail.selected;
            }

            _onToMethodSelected(event) {
                this._selectedToMethod = event.detail.selected;
            }

            _computeGetIntegrationPSOSApi(integration) {
                return integration.self ? (integration.self + '/pso') : null;
            }

            _computeGetAppscoPSOSApi(integration) {
                return integration.self ? (integration.self + '/pso/appsco') : null;
            }

            _computeAddIntegrationRuleApi(integration) {
                return integration.meta ? integration.meta.recipes : null;
            }

            _computeIntegrationKindRA(integration) {
                return (integration.kind && 'ra' === integration.kind);
            }

            _computeEmptyArray(items) {
                return items.length > 0;
            }

            _onDialogOpened() {
                this.$.title.focus();
            }

            _onDialogClosed() {
                this._hideLoader();
                this._hideError();
                this._reset();
            }

            _onIronOverlayEvents(event) {
                event.stopPropagation();
            }

            _loadIntegrationPSOS() {
                const getIntegrationPSOSRequest = this.$.getIntegrationPSOSApiRequest;

                if (getIntegrationPSOSRequest.lastRequest) {
                    getIntegrationPSOSRequest.lastRequest.abort();
                }

                getIntegrationPSOSRequest.generateRequest();
            }

            _onIntegrationPSOSError() {
                this.set('_fromPSOList', []);
                this.set('_toPSOList', []);
            }

            _onIntegrationPSOSResponse(event) {
                const response = event.detail.response,
                    appscoPSOList = JSON.parse(JSON.stringify(this._appscoPSOList));

                if (this._integrationKindRA) {
                    this.set('_fromPSOList', (response && response.psos) ? response.psos : []);
                    this.set('_toPSOList', appscoPSOList);
                }
                else {
                    this.set('_fromPSOList', appscoPSOList);
                    this.set('_toPSOList', (response && response.psos) ? response.psos : []);
                }
            }

            _onAppscoPSOSError() {
                this.set('_appscoPSOList', []);
            }

            _onAppscoPSOSResponse(event) {
                var response = event.detail.response;

                this.set('_appscoPSOList', (response && response.psos) ? response.psos : []);
                this._loadIntegrationPSOS();
            }

            _onFromPSOSelected(event) {
                let selectedItem = event.detail.selected,
                    transformable = [],
                    filteredTargetPsos = [];

                this._fromPSOSelected = true;
                this._hideConditionFields();
                this._conditionVisible = false;
                this._fromPSOList.forEach(function(element) {
                    if (selectedItem === element.key) {
                        const _fromConditionList = [];
                        for (const idx in element.conditions) {
                            _fromConditionList.push({
                                key: idx,
                                value: '',
                                supportedOperators: element.conditions[idx],
                                operator: element.conditions[idx][0],
                                options: this._getOptions(element, idx)
                            });
                        }
                        this.set('_fromConditionList', _fromConditionList);

                        return false;
                    }
                }.bind(this));

                this._fromPSOList.forEach(function(el) {
                    if (el.key === selectedItem) {
                        transformable = el.targets;
                    }
                });

                this._toPSOList.forEach(function(el) {
                    if (transformable.indexOf(el.key) !== -1) {
                        filteredTargetPsos.push(el);
                    }
                });

                this.set('_availableToPSOList', filteredTargetPsos);
                if (transformable.indexOf(this.$.toPSOList.selected) === -1) {
                    this.$.toPSOList.selected = null;
                }
            }

            _getOptions(element, idx) {
                const result = [null];
                if (!element.conditions || !element.condition_options || !element.conditions[idx] || !element.condition_options[idx]) {
                    return null;
                }
                for (const i in element.condition_options[idx]) {
                    result.push(element.condition_options[idx][i]);
                }

                return result;
            }

            _onToPSOSelected(event) {
                const selectedItem = event.detail.selected;

                this._toPSOSelected = true;
                this._toPSOList.forEach(function(element) {

                    if (selectedItem === element.key) {
                        this.set('_toParamsList', element.params.map(function(el, index) {
                            return {
                                key: el,
                                value: '',
                                options: (element.target_options[el] && element.target_options[el].length ? element.target_options[el] : null)
                            };
                        }));
                        return false;
                    }
                }.bind(this));
            }

            _onToggleConditionAction(event) {
                if (this.$.fromPSOList.selected) {
                    this._conditionVisible = !this._conditionVisible;
                    this._conditionVisible ? this._showConditionFields() : this._hideConditionFields();
                }
                else {
                    event.target.active = false;
                }
            }

            _showConditionFields() {
                this.animationConfig.entry.node.style.display = 'block';
                this.playAnimation('entry');
            }

            _hideConditionFields() {
                this.playAnimation('exit');
                this.animationConfig.entry.node.style.display = 'none';
            }

            _onToggleParamsAction() {
                if (this.$.toPSOList.selected) {
                    this._paramsVisible = !this._paramsVisible;
                }
                else {
                    event.target.active = false;
                }
            }

            _onNeonAnimationFinished() {
                if (this.animationConfig && !this._conditionVisible) {
                    this.animationConfig.exit.node.style.display = 'none';
                }
            }

            _onEnterAction() {
                this._onAddAction();
            }

            _onAddAction() {
                this._hideError();

                if (this._target.validate()) {
                    this._showLoader();
                    this._target.submit();
                }
            }

            _onFormPresubmit(event) {
                let index;
                const form = event.target,
                    fromMethod = this.$.fromMethod,
                    fromPSO = this.$.fromPSO,
                    toMethod = this.$.toMethod,
                    toPSO = this.$.toPSO;

                form.request.body['integration_recipe[fromMethod]'] = fromMethod.selectedItem ? fromMethod.selectedItem.value : '';
                form.request.body['integration_recipe[fromPSO]'] = fromPSO.selectedItem ? fromPSO.selectedItem.value : '';
                form.request.body['integration_recipe[toMethod]'] = toMethod.selectedItem ? toMethod.selectedItem.value : '';
                form.request.body['integration_recipe[toPSO]'] = toPSO.selectedItem ? toPSO.selectedItem.value : '';

                if (this._conditionVisible) {
                    index = 0;

                    this._fromConditionList.forEach(function(element) {
                        if ('' != element.value) {
                            form.request.body['integration_recipe[fromCondition][' + index + '][field]'] = element.key;
                            form.request.body['integration_recipe[fromCondition][' + index + '][value]'] = element.value;
                            form.request.body['integration_recipe[fromCondition][' + index + '][operator]'] = element.operator;
                            index ++;
                        }
                    });
                }

                if (this._paramsVisible) {
                    index = 0;

                    this._toParamsList.forEach(function(element) {
                        if ('' != element.value) {
                            form.request.body['integration_recipe[toField][' + index + '][key]'] = element.key;
                            form.request.body['integration_recipe[toField][' + index + '][value]'] = element.value;
                            index ++;
                        }
                    });
                }
            }

            _onFormError(event) {
                this._showError(this.apiErrors.getError(event.detail.request.response.code));
                this._hideLoader();
            }

            _onFormResponse(event) {
                this.close();

                this.dispatchEvent(new CustomEvent('integration-rule-added', {
                    bubbles: true,
                    composed: true,
                    detail: {
                        integration: this.integration,
                        rule: event.detail.response
                    }
                }));
            }

            _formatOperator(operatorKey) {
                return this.$.operators.getOperator(operatorKey);
            }
        }
        window.customElements.define(AppscoAddIntegrationRule.is, AppscoAddIntegrationRule);
    </script>
</dom-module>
