<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="appsco-integration-rules-operators">
    <template>
    </template>
</dom-module>

<script>
    class AppscoIntegrationRulesOperators extends Polymer.Element {
        static get is() { return 'appsco-integration-rules-operators'; }

        static get properties() {
            return {
                operators: {
                    type: Object,
                    value: {
                        "equal": "Equals",
                        "notEqual": "Does not equal",
                        "contains": "Contains",
                        "notContains": "Does not contain",
                        "memberOf": "Is member of",
                        "notMemberOf": "Is not member of",
                        "matching": "Matching",
                        "startsWith": "Starts with",
                        "endsWith": "Ends with"
                    }
                }
            };
        }

        getOperator(operatorCode) {
            return (this.operators[operatorCode]) ? this.operators[operatorCode] : operatorCode;
        }
    }
    window.customElements.define(AppscoIntegrationRulesOperators.is, AppscoIntegrationRulesOperators);
</script>
