<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">

<link rel="import" href="../../components/appsco-loader.html">
<link rel="import" href="../../components/appsco-form-error.html">

<link rel="import" href="../../../lib/mixins/appsco-headers-mixin.html">

<!--
`appsco-company-account-change-password`
Form for account password change.

Example:
    <body>
        <appsco-company-account-change-password authorization-token=""
                                        account-change-password-api="">
        </appsco-company-account-change-password>


@demo demo/company/appsco-company-account-change-password.html
-->

<dom-module id="appsco-company-account-change-password">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
            }
            :host .submit-button {
                margin: 20px 0 0 0;
                @apply --form-action;
            }
        </style>

        <appsco-loader active="[[ _loader ]]" loader-alt="Appsco is processing request" multi-color></appsco-loader>

        <appsco-form-error message="[[ _errorMessage ]]"></appsco-form-error>

        <iron-form
                id="accountChangePasswordForm"
                headers="[[ _headers ]]"
                on-iron-form-presubmit="_onFormPresubmit"
                on-iron-form-error="_onFormError"
                on-iron-form-response="_onFormResponse">
            <form
                  method="POST"
                  action="[[ accountChangePasswordApi ]]">
                <paper-input
                        id="newPassword"
                        name="update_account_password[newPassword][plainPassword][first]"
                        label="New password"
                        type="password"
                        required
                        error-message="Please type in new password."
                        on-keyup="_validateForm"></paper-input>

                <paper-input
                        id="newPasswordRepeat"
                        name="update_account_password[newPassword][plainPassword][second]"
                        label="Repeat new password"
                        type="password"
                        required
                        error-message="Please repeat new password."
                        on-keyup="_validateForm"></paper-input>
            </form>
        </iron-form>

        <paper-button id="submit"
                      class="submit-button"
                      on-tap="_submitForm">Save</paper-button>

        <iron-a11y-keys
                target="[[ _target ]]"
                keys="enter"
                on-keys-pressed="_onEnter">
        </iron-a11y-keys>

    </template>
    <script>
        class AppscoCompanyAccountChangePassword extends Polymer.mixinBehaviors([Appsco.HeadersMixin], Polymer.Element) {
            static get is() { return 'appsco-company-account-change-password'; }

            static get properties() {
                return {
                    accountChangePasswordApi: {
                        type: String
                    },

                    _loader: {
                        type: Boolean,
                        value: false
                    },

                    _errorMessage: {
                        type: String
                    },

                    _validForm: {
                        type: Boolean,
                        value: true
                    },

                    _target: {
                        type: Object
                    }
                };
            }

            ready() {
                super.ready();

                this._target = this.$.accountChangePasswordForm
            }

            _onEnter() {
                this._submitForm();
            }

            _submitForm() {
                this._validForm = (!this.$.newPassword.invalid && !this.$.newPasswordRepeat.invalid);

                if (this._validForm) {
                    this.$.accountChangePasswordForm.submit();
                }
            }

            _validateForm() {
                const newPasswordField = this.$.newPassword,
                    newPassword = newPasswordField.value.trim() === '' ? null : newPasswordField.value,
                    repeatPasswordField = this.$.newPasswordRepeat,
                    repeatPassword = repeatPasswordField.value.trim() === '' ? null : repeatPasswordField.value;

                if (newPassword) {
                    if (newPassword.length < 8) {
                        newPasswordField.errorMessage = 'Password must be at least 8 characters long.';
                        newPasswordField.invalid = true;
                    }
                    else if (!newPassword.match(new RegExp("[A-Z]"))) {
                        newPasswordField.errorMessage = 'Password must have at least one capital letter.';
                        newPasswordField.invalid = true;
                    }
                    else if (!newPassword.match(new RegExp("[0-9]"))) {
                        newPasswordField.errorMessage = 'Password must have at least one digital letter.';
                        newPasswordField.invalid = true;
                    }
                    else {
                        newPasswordField.invalid = false;
                    }
                }

                if (newPassword && repeatPassword && (newPassword !== repeatPassword)) {
                    repeatPasswordField.errorMessage = 'This has to be equal to new password.';
                    repeatPasswordField.invalid = true;
                }
                else if (newPassword === repeatPassword) {
                    repeatPasswordField.invalid = false;
                }
            }

            _onFormPresubmit(event) {
                if (this._validForm) {
                    this._loader = true;
                }
            }

            _onFormError(event) {
                this._errorMessage = event.detail.error.message;
                this._loader = false;
            }

            _onFormResponse() {

                this.$.accountChangePasswordForm.reset();

                this.dispatchEvent(new CustomEvent('password-changed', { bubbles: true, composed: true }));

                this._loader = false;
            }

            setUp() {
                this.$.newPassword.focus();
            }

            reset() {
                this.$.accountChangePasswordForm.reset();
                this._errorMessage = '';
            }
        }
        window.customElements.define(AppscoCompanyAccountChangePassword.is, AppscoCompanyAccountChangePassword);
    </script>
</dom-module>
