<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../../bower_components/neon-animation/animations/scale-up-animation.html">

<link rel="import" href="../../components/appsco-loader.html">
<link rel="import" href="../../components/appsco-form-error.html">

<link rel="import" href="../../../lib/mixins/appsco-headers-mixin.html">

<!--
`appsco-account-remove-orgunit`
Shows dialog screen with confirmation for account removal from organization unit.

    <appsco-account-remove-orgunit account="[]" orgunit="{}">
    </appsco-account-remove-orgunit>

### Styling

`<appsco-account-remove-orgunit>` provides the following custom properties and mixins for styling:

@demo demo/company/appsco-account-remove-orgunit.html
-->

<dom-module id="appsco-account-remove-orgunit">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                @apply --appsco-account-remove;

                --form-error-box: {
                     margin-top: 0;
                 };
            }
            :host paper-dialog {
                width: 670px;
                top: 20vh;
                @apply --appsco-paper-dialog;
            }
            :host paper-dialog-scrollable > * {
                @apply --paper-dialog-scrollable-child;
            }
            :host .buttons paper-button {
                @apply --paper-dialog-button;
            }
            :host .buttons paper-button[dialog-dismiss] {
                @apply --paper-dialog-dismiss-button;
            }
            :host appsco-loader {
                @apply --paper-dialog-appsco-loader;
            }
        </style>
        <paper-dialog
                with-backdrop
                id="dialog"
                entry-animation="scale-up-animation"
                exit-animation="fade-out-animation"
                on-iron-overlay-closed="_onDialogClosed">

            <h2>Remove [[ account.account.name ]] from [[ orgunit.name ]]</h2>

            <appsco-loader active="[[ _loader ]]" loader-alt="Appsco is processing request" multi-color></appsco-loader>

            <paper-dialog-scrollable>
                <div class="remove-container">
                    <appsco-form-error message="[[ _error ]]"></appsco-form-error>
                    <p>Please confirm removal of [[ account.account.name ]] from [[ orgunit.name ]] organization unit.</p>
                </div>
            </paper-dialog-scrollable>

            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button autofocus on-tap="_remove">Remove</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        class AppscoAccountRemoveOrgunit extends Polymer.mixinBehaviors([Appsco.HeadersMixin], Polymer.Element) {
            static get is() { return 'appsco-account-remove-orgunit'; }

            static get properties() {
                return {
                    account: {
                        type: Array,
                        value: function () {
                            return {};
                        }
                    },

                    orgunit: {
                        type: Array,
                        value: function () {
                            return {};
                        }
                    },

                    _loader: {
                        type: Boolean,
                        value: false
                    },

                    _error: {
                        type: String
                    }
                };
            }

            toggle() {
                this.$.dialog.open();
            }

            _onDialogClosed() {
                this._error = '';
                this._loader = false;
            }

            _remove() {
                const appRequest = document.createElement('iron-request'),
                    options = {
                        url: this.orgunit.meta.remove,
                        method: 'DELETE',
                        handleAs: 'json',
                        headers: this._headers
                    };

                this._loader = true;

                appRequest.send(options).then(function(request) {
                    this.$.dialog.close();

                    this.dispatchEvent(new CustomEvent('account-removed-from-orgunit', {
                        bubbles: true,
                        composed: true,
                        detail: {
                            account: request.response,
                            orgunit: this.orgunit
                        }
                    }));
                }.bind(this), function() {
                    if (appRequest.status === 404) {
                        this._error = 'This account doesn\'t belong to your company.';
                    }

                    this._loader = false;
                }.bind(this));
            }
        }
        window.customElements.define(AppscoAccountRemoveOrgunit.is, AppscoAccountRemoveOrgunit);
    </script>
</dom-module>
