<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../../lib/mixins/appsco-headers-mixin.html">

<dom-module id="appsco-upload-oauth-application-icon">
    <template>
        <style>
            :host {
                display: inline-block;
                position: relative;
                @apply --appsco-upload-oauth-application-icon;
            }
            .upload-container {
                width: 64px;
                height: 64px;
                margin-left: auto;
                margin-right: auto;
                overflow: hidden;
                position: relative;
                @apply --upload-container;
            }
            .item-icon, .item-icon-upload, .icon-upload {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
            .item-icon {
                width: 64px;
                height: 64px;
                --iron-image-placeholder: {
                    background: #eeeeee;
                };

                @apply --item-icon;
            }
            .item-icon-upload {
                background-color: rgba(250, 250, 250, 0.8);
                display: block;
                opacity: 0;
                z-index: 5;
                cursor: pointer;
                @apply --item-icon-upload-field;
            }
            .item-icon-upload.no-image {
                opacity: 1;
            }
            .item-icon-upload:hover {
                opacity: 1;
                transition: opacity .2s ease-in;
            }
            .icon-upload {
                width: 32px;
                height: 32px;
                @apply --item-icon-upload-icon;
            }
            .upload-file {
                width: 0;
                height: 0;
                opacity: 0;
            }
        </style>

        <div class="upload-container">

            <iron-image class="item-icon"
                        src="[[ item.icon_url ]]"
                        alt="Icon"
                        class="sized"
                        sizing="cover"
                        preload fade></iron-image>
            
            <label for="icon"
                   class$="item-icon-upload [[ _iconClass ]]">
                <iron-icon icon="file-upload" class="icon-upload"></iron-icon>
            </label>

            <input type="file"
                   accept="image/*"
                   id="icon"
                   name="item-icon"
                   class="upload-file"
                   on-change="_onUploadAction">
        </div>

        <slot name="info" old-content-selector="[info]"></slot>

    </template>
    <script>
        class AppscoUploadOAuthApplicationIcon extends Polymer.mixinBehaviors([Appsco.HeadersMixin], Polymer.Element) {
            static get is() { return 'appsco-upload-oauth-application-icon'; }

            static get properties() {
                return {
                    item: {
                        type: Object,
                        value: function () {
                            return {}
                        }
                    },

                    uploadApi: {
                        type: String
                    },

                    _iconClass: {
                        type: String,
                        computed: '_computeIconClass(item)'
                    }
                };
            }

            reset() {
                const item = JSON.parse(JSON.stringify(this.item));

                this.set('item', {});
                this.set('item', item);
            }

            _computeIconClass(item) {
                return (item && item.icon_url) ? 'has-image' : 'no-image';
            }

            _validateImageFile(file) {
                let validFileTypes = ['image/jpg', 'image/jpeg', 'image/png'],
                    fileType = file.type,
                    valid = true;

                if (1048576 < file.size) {
                    this.dispatchEvent(new CustomEvent('image-upload-error', {
                        bubbles: true,
                        composed: true,
                        detail: 'Image size must be less than 1MB.'
                    }));
                    valid = false;
                }
                else {
                    for (let i = 0; i < validFileTypes.length; i++) {
                        if (validFileTypes[i] === fileType) {
                            valid = true;
                            break;
                        }
                        else {
                            valid = false;
                        }

                        if (i === (validFileTypes.length - 1) && !valid) {
                            this.dispatchEvent(new CustomEvent('image-upload-error', {
                                bubbles: true,
                                composed: true,
                                detail: 'Allowed file types are: jpg, jpeg and png.'
                            }));
                        }
                    }

                }

                return valid;
            }

            _setNewImage(file) {
                const reader = new FileReader();

                reader.onload = function(event) {
                    const item = JSON.parse(JSON.stringify(this.item));

                    this.item.icon_url = event.target.result;
                    this.set('item', {});
                    this.set('item', item);
                }.bind(this);

                reader.readAsDataURL(file);

                this.dispatchEvent(new CustomEvent('item-icon-changed', { bubbles: true, composed: true }));
            }

            _onUploadAction(event) {
                const input = event.target;

                if (input.files && input.files[0]) {
                    const file = input.files[0],
                        formData = new FormData(),
                        request = new XMLHttpRequest();

                    /** To ensure that on-change event will be triggered even if user tries to upload same image again */
                    this.shadowRoot.getElementById('icon').value = null;

                    if (!this._validateImageFile(file)) {
                        return false;
                    }

                    formData.append('file', file, file.name);

                    request.onreadystatechange = function()
                    {
                        if (4 === request.readyState && 200 === request.status) {
                            this._setNewImage(file);
                        }
                    }.bind(this);

                    request.open('POST', this.uploadApi, true);
                    request.setRequestHeader('Authorization', this._headers.Authorization);
                    request.send(formData);
                }
            }
        }
        window.customElements.define(AppscoUploadOAuthApplicationIcon.is, AppscoUploadOAuthApplicationIcon);
    </script>
</dom-module>
