<!doctype html>
<html>
<head>
    <title>appsco-application demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../../../../../@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>

    <script type="module" src="../../../../../../@polymer/iron-demo-helpers/demo-pages-shared-styles.js"></script>
    <script type="module" src="../../../../../../@polymer/iron-demo-helpers/demo-snippet.js"></script>

    <script type="module" src="../appsco-application-actions.js"></script>
    <script type="module" src="../../../../../../@polymer/iron-ajax/iron-ajax.js"></script>
    <script type="module" src="../../../../../../@polymer/paper-toast/paper-toast.js"></script>
    <script type="module" src="../../../../../../@polymer/paper-button/paper-button.js"></script>

    <!-- FIXME(polymer-modulizer):
        These imperative modules that innerHTML your HTML are
        a hacky way to be sure that any mixins in included style
        modules are ready before any elements that reference them are
        instantiated, otherwise the CSS @apply mixin polyfill won't be
        able to expand the underlying CSS custom properties.
        See: https://github.com/Polymer/polymer-modulizer/issues/154
        -->
    <script type="module">
const $_documentContainer = document.createElement('template');

$_documentContainer.innerHTML = `<custom-style>
        <style include="demo-pages-shared-styles">
          .size {
              max-width: 800px;
          }
        </style>
    </custom-style>`;

document.body.appendChild($_documentContainer.content);
</script>
</head>
<body>

<script type="module">
const $_documentContainer = document.createElement('template');

$_documentContainer.innerHTML = `<div class="vertical-section-container centered size">
    <h3>appsco-application-actions Demo</h3>
    <demo-snippet>
        <template is="dom-bind">

            <paper-toast id="toast" text=""></paper-toast>

            <appsco-application-actions id="actions" authorization-token="1o833krv0s68osk4skckkwsgws844o480ko48wsco0k4o4kook4wnkgimtqyo0g0ko0g8wok4go40kgwgksw84wcs808wwcgg44" filter-api="https://my-dev.appsco.com/api/v2/dashboards?extended=1"></appsco-application-actions>

            <script>
                actions.addEventListener('filtered', function (e) {
                    toast.text = "Application filter fired for " + e.detail.name + " with id[" + e.detail.id + "]";
                    toast.open();
                });
                actions.addEventListener('search', function (e) {
                    toast.text = "Search with term: " + e.detail.term;
                    toast.open();
                });
            &lt;/script>
        </template>
    </demo-snippet>
</div>`;

document.body.appendChild($_documentContainer.content);
</script>ventListener('search', function (e) {
    toast.text = "Search with term: " + e.detail.term;
    toast.open();
});
</script>
        </template>
    </demo-snippet>
</div>

<script type="module">
const $_documentContainer = document.createElement('template');

$_documentContainer.innerHTML = `<div class="vertical-section-container centered size">
    <h3>appsco-application-actions for business Demo</h3>
    <demo-snippet>
        <template is="dom-bind">

            <paper-toast id="businessToast" text=""></paper-toast>

            <appsco-application-actions id="businessActions" authorization-token="1o833krv0s68osk4skckkwsgws844o480ko48wsco0k4o4kook4wnkgimtqyo0g0ko0g8wok4go40kgwgksw84wcs808wwcgg44" filter-api="https://my-dev.appsco.com/api/v2/dashboards?extended=1" business=""></appsco-application-actions>

            <paper-button id="toggleBulkActions">Toggle bulk actions</paper-button>

            <script>
                var bulkActions = false;

                businessActions.addEventListener('search', function(event) {
                    businessToast.text = 'Action event fired: search with term = ' + event.detail.term + '.';
                    businessToast.open();
                });

                businessActions.addEventListener('add-application', function() {
                    businessToast.text = 'Action event fired: add-application.';
                    businessToast.open();
                });

                businessActions.addEventListener('orgunits', function() {
                    businessToast.text = 'Bulk action event fired: orgunits.';
                    businessToast.open();
                });

                businessActions.addEventListener('share', function() {
                    businessToast.text = 'Bulk action event fired: share.';
                    businessToast.open();
                });

                businessActions.addEventListener('remove', function() {
                    businessToast.text = 'Bulk action event fired: remove.';
                    businessToast.open();
                });

                toggleBulkActions.addEventListener('tap', function() {
                    bulkActions = !bulkActions;

                    if (bulkActions) {
                        businessActions.showBulkActions();
                    }
                    else {
                        businessActions.hideBulkActions();
                    }
                });
            &lt;/script>
        </template>
    </demo-snippet>
</div>`;

document.body.appendChild($_documentContainer.content);
</script>