<!doctype html>
<html>
<head>
    <title>appsco-application demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../../../../../@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>

    <script type="module" src="../../../../../../@polymer/iron-demo-helpers/demo-pages-shared-styles.js"></script>
    <script type="module" src="../../../../../../@polymer/iron-demo-helpers/demo-snippet.js"></script>

    <script type="module" src="../appsco-applications.js"></script>
    <script type="module" src="../../../../../../@polymer/paper-toast/paper-toast.js"></script>

    <!-- FIXME(polymer-modulizer):
        These imperative modules that innerHTML your HTML are
        a hacky way to be sure that any mixins in included style
        modules are ready before any elements that reference them are
        instantiated, otherwise the CSS @apply mixin polyfill won't be
        able to expand the underlying CSS custom properties.
        See: https://github.com/Polymer/polymer-modulizer/issues/154
        -->
    <script type="module">
const $_documentContainer = document.createElement('template');

$_documentContainer.innerHTML = `<custom-style>
        <style include="demo-pages-shared-styles">
            .size {
                max-width: 792px;
            }
            appsco-applications {
                --appsco-applications-item: {
                  margin: 0 20px 20px 0;
                }
            }
        </style>
    </custom-style>`;

document.body.appendChild($_documentContainer.content);
</script>
</head>
<body>

<script type="module">
const $_documentContainer = document.createElement('template');

$_documentContainer.innerHTML = `<div class="vertical-section-container centered size">
    <h3>appsco-applications Demo</h3>
    <demo-snippet>
        <template>
            <appsco-applications id="applications" size="4" load-more="" authorization-token="1o833krv0s68osk4skckkwsgws844o480ko48wsco0k4o4kook4wnkgimtqyo0g0ko0g8wok4go40kgwgksw84wcs808wwcgg44" applications-api="https://my-dev.appsco.com/api/v2/dashboards/483/icons"></appsco-applications>
            <paper-toast id="toast" text=""></paper-toast>
            <script>
                applications.addEventListener('view', function (e) {
                    toast.text = "Application event view for app  " + e.detail.title;
                    toast.open();
                })
                applications.addEventListener('open', function (e) {
                    toast.text = "Application event open for app  " + e.detail.title;
                    toast.open();
                })
            &lt;/script>
        </template>
    </demo-snippet>
</div>`;

document.body.appendChild($_documentContainer.content);
</script> toast.open();
})
</script>
        </template>
    </demo-snippet>
</div>

</body>
</html>
