<!doctype html>
<html>
<head>
    <title>appsco-application demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../../../../../@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>

    <script type="module" src="../../../../../../@polymer/iron-demo-helpers/demo-pages-shared-styles.js"></script>
    <script type="module" src="../../../../../../@polymer/iron-demo-helpers/demo-snippet.js"></script>
    <script type="module" src="../../../../../../@polymer/paper-toast/paper-toast.js"></script>

    <script type="module" src="../appsco-application-item.js"></script>

    <!-- FIXME(polymer-modulizer):
        These imperative modules that innerHTML your HTML are
        a hacky way to be sure that any mixins in included style
        modules are ready before any elements that reference them are
        instantiated, otherwise the CSS @apply mixin polyfill won't be
        able to expand the underlying CSS custom properties.
        See: https://github.com/Polymer/polymer-modulizer/issues/154
        -->
    <script type="module">
const $_documentContainer = document.createElement('template');

$_documentContainer.innerHTML = `<custom-style>
        <style include="demo-pages-shared-styles"></style>
    </custom-style>`;

document.body.appendChild($_documentContainer.content);
</script>
</head>
<body>

<script type="module">
const $_documentContainer = document.createElement('template');

$_documentContainer.innerHTML = `<div class="vertical-section-container centered">
    <h3>appsco-application-item Demo</h3>
    <demo-snippet>
        <template>
            <appsco-application-item id="item"></appsco-application-item>
            <paper-toast id="toast1" text="View fired"></paper-toast>
            <paper-toast id="toast2" text="Open fired"></paper-toast>
            <script defer="">
                const application = {
                    "application": "https://my-dev.appsco.com/api/v2/applications/1",
                    "title": "Twitter",
                    "auth_type": "item",
                    "is_configured": true,
                    "url_editable": false,
                    "icon_url": "https://my-dev.appsco.com/genericIcons/t.png",
                    "url": "https://twitter.com/",
                    "images": [
                        "https://apps-dev.appsco.com/icon/1.png"
                    ],
                    "self": "https://my-dev.appsco.com/api/v2/dashboards/483/icons/1474",
                    "claims": {
                        "username": "test",
                        "password": "asdasd",
                        "note": "test"
                    }
                };

                document.querySelector('#item').application = application;
                document.querySelector('#item').addEventListener('view', function (e) {
                    toast1.open();
                })
                document.querySelector('#item').addEventListener('open', function (e) {
                    toast2.open();
                })
            &lt;/script>
        </template>
    </demo-snippet>
</div>`;

document.body.appendChild($_documentContainer.content);
</script>