<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">


<link rel="import" href="appsco-tutorial-company-settings.html">
<link rel="import" href="appsco-tutorial-company-branding.html">

<dom-module id="appsco-tutorial">
    <template>
        <appsco-tutorial-company-settings
                id="companyProfile"
                page="[[ currentPage ]]"
        ></appsco-tutorial-company-settings>
        <appsco-tutorial-company-branding
                id="companyBranding"
                page="[[ currentPage ]]"
        ></appsco-tutorial-company-branding>
    </template>
    <script>
        Polymer({

            is: 'appsco-tutorial',

            _pageChanged: function(){
                this.tuts.forEach(function(item, key){
                    var tutorial = this.$$('#'+item);
                    if(tutorial) {
                        tutorial.pageChanged(this.currentPage);
                    }
                }.bind(this));
            },

            properties: {
                currentPage: {
                    type: String,
                    notify: true,
                    observer: '_pageChanged'
                },
                tutorialsApi: {
                    type: String,
                    value: '',
                    notify: true
                },

                _computedHeaders: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                authorizationToken: {
                    type: String,
                    value: ''
                },

                tuts: {
                    type: Array,
                    value: function(){ return ['companyProfile', 'companyBranding']; }
                },

                tutorials: {
                    type: Object,
                    notify: true,
                    value: function () {
                        return {}
                    }
                }
            },

            _computeHeaders: function (authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            },

            getTutorials: function() {
                return this.tutorials;
            },

            getTutorial: function(tutorialId) {
                return this.tutorials[tutorialId];
            },

            attached: function() {
                this.initTutorials();
                this.getCurrentState();
            },

            initTutorials: function() {
                this.tuts.forEach(function(item, key){
                    var tutorial = this.$$('#'+item);
                    if(tutorial) {
                        this.tutorials[tutorial.getId()] = tutorial;
                    }
                }.bind(this));
            },

            getCurrentState: function() {
                // var tutorialsRequest = document.createElement('iron-request');
                //
                // tutorialsRequest.send({
                //     url: this.tutorialsApi,
                //     method: "GET",
                //     handleAs: 'json',
                //     headers: {
                //         "Authorization": "token " + this.authorizationToken
                //     }
                // }).then(function(request) {
                //     for (var idx in request.response) {
                //         if (request.response.hasOwnProperty(idx)) {
                //             this.tutorials[idx].status = request.response[idx]['status'];
                //             this.tutorials[idx].step = request.response[idx]['step'];
                //         }
                //     }
                //     var tutorials = JSON.parse(JSON.stringify(this.tutorials));
                //     this.set('tutorials', {});
                //     this.set('tutorials', tutorials);
                // }.bind(this));
            }
        });
    </script>
</dom-module>
