<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../components/appsco-cover-behaviour.html">

<link rel="import" href="appsco-tutorial-company-settings.html">
<link rel="import" href="appsco-tutorial-company-branding.html">
<link rel="import" href="appsco-tutorial-branded-login.html">
<link rel="import" href="appsco-tutorial-add-company-user.html">
<link rel="import" href="appsco-tutorial-resources.html">
<link rel="import" href="appsco-tutorial-company-domain.html">
<link rel="import" href="appsco-tutorial-share-resources.html">
<link rel="import" href="appsco-tutorial-identity-provider.html">
<link rel="import" href="appsco-tutorial-provisioning.html">

<dom-module id="appsco-tutorial">
    <template>
        <style>
            :host .done-step {
                z-index: 9000;
                background-color: var(--header-background-color);
                color: var(--header-text-color);
                border: 1px solid rgba(0,0,0,0.3);

                padding: 10px;
                @apply(--shadow-elevation-8dp);
                margin-left:10px;
            }
        </style>

        <appsco-tutorial-company-settings
                id="companyProfile"
                page="[[ currentPage ]]"
                on-tutorial-done="_onTutorialDone"
                on-tutorial-step-changed="_onStepChanged"
        ></appsco-tutorial-company-settings>
        <appsco-tutorial-company-branding
                id="companyBranding"
                page="[[ currentPage ]]"
                on-tutorial-done="_onTutorialDone"
                on-tutorial-step-changed="_onStepChanged"
        ></appsco-tutorial-company-branding>
        <appsco-tutorial-branded-login
                id="brandedLogin"
                page="[[ currentPage ]]"
                on-tutorial-done="_onTutorialDone"
                on-tutorial-step-changed="_onStepChanged"
        ></appsco-tutorial-branded-login>
        <appsco-tutorial-add-company-user
                id="addCompanyUser"
                page="[[ currentPage ]]"
                on-tutorial-done="_onTutorialDone"
                directory-page-loaded="[[ directoryPageLoaded ]]"
                on-tutorial-step-changed="_onStepChanged"
        ></appsco-tutorial-add-company-user>
        <appsco-tutorial-resources
                id="addResource"
                page="[[ currentPage ]]"
                on-tutorial-done="_onTutorialDone"
                resources-page-loaded="[[ resourcesPageLoaded ]]"
                on-tutorial-step-changed="_onStepChanged"
        ></appsco-tutorial-resources>

        <appsco-tutorial-share-resources
                id="shareResource"
                page="[[ currentPage ]]"
                on-tutorial-done="_onTutorialDone"
                resources-page-loaded="[[ resourcesPageLoaded ]]"
                resource-share-accounts-loaded="[[ resourceShareAccountsLoaded ]]"
                on-tutorial-step-changed="_onStepChanged"
        ></appsco-tutorial-share-resources>
        <appsco-tutorial-company-domain
                id="companyDomain"
                page="[[ currentPage ]]"
                on-tutorial-done="_onTutorialDone"
                company-domains-loaded="[[ companyDomainsLoaded ]]"
                on-tutorial-step-changed="_onStepChanged"
        ></appsco-tutorial-company-domain>
        <appsco-tutorial-identity-provider
                id="identityProvider"
                page="[[ currentPage ]]"
                on-tutorial-done="_onTutorialDone"
                on-tutorial-step-changed="_onStepChanged"
                company-domains-loaded="[[ companyDomainsLoaded ]]"
        ></appsco-tutorial-identity-provider>
        <appsco-tutorial-provisioning
                id="companyProvisioning"
                page="[[ currentPage ]]"
                on-tutorial-done="_onTutorialDone"
                on-tutorial-step-changed="_onStepChanged"
        ></appsco-tutorial-provisioning>

        <div id="done-all-tutorials" class="done-step" hidden>
            <p>You have completed all Get started steps. <br />
                You can replay them and refer to the linked articles on the welcome page to learn more.
            </p>
            <div class="flex-horizontal">
                <div class="empty"></div>
                <div>
                    <paper-button>Close</paper-button>
                </div>
            </div>
        </div>

    </template>
    <script>
        Polymer({

            is: 'appsco-tutorial',

            _pageChanged: function(){
                this.tuts.forEach(function(item, key){
                    var tutorial = this.$$('#'+item);
                    if(tutorial) {
                        tutorial.pageChanged(this.currentPage);
                    }
                }.bind(this));
            },

            properties: {
                currentPage: {
                    type: String,
                    notify: true,
                    observer: '_pageChanged'
                },
                tutorialsApi: {
                    type: String,
                    notify: true,
                    reflectToAttribute: true
                },

                _computedHeaders: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                authorizationToken: {
                    type: String,
                    value: ''
                },

                tuts: {
                    type: Array,
                    value: function(){ return [
                        'companyProfile',
                        'companyBranding',
                        'brandedLogin',
                        'addCompanyUser',
                        'addResource',
                        'shareResource',
                        'companyDomain',
                        'identityProvider',
                        'companyProvisioning'
                    ]; }
                },

                tutorials: {
                    type: Object,
                    notify: true,
                    reflectToAttribute: true,
                    value: function () {
                        return {}
                    }
                },

                directoryPageLoaded: {
                    type: Boolean,
                    value: false,
                    notify: true
                },

                resourcesPageLoaded: {
                    type: Boolean,
                    value: false,
                    notify: true
                },

                companyDomainsLoaded: {
                    type: Boolean,
                    notify: true
                },

                resourceShareAccountsLoaded: {
                    type: Boolean,
                    value: false,
                    notify: true
                },

                currentSteps: {
                    type: Object,
                    value: function() { return {}; }
                },

                isTutorialActive: {
                    type: Boolean,
                    value: false,
                    notify: true
                }
            },

            behaviors: [
                Polymer.AppscoCoverBehaviour
            ],

            _computeHeaders: function (authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            },

            getTutorials: function() {
                return this.tutorials;
            },

            getTutorial: function(tutorialId) {
                return this.tutorials[tutorialId];
            },

            attached: function() {
                this.initTutorials();
                this.getCurrentState();
            },

            initTutorials: function() {
                this.tuts.forEach(function(item, key){
                    var tutorial = this.$$('#'+item);
                    if(tutorial) {
                        this.tutorials[tutorial.getId()] = tutorial;
                    }
                }.bind(this));
            },

            _onTutorialDone: function(event) {
                var tutorial = event.detail.tutorial,
                    tutorialsRequest = document.createElement('iron-request');

                tutorialsRequest.send({
                    url: this.tutorialsApi,
                    method: "PUT",
                    handleAs: 'json',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        "Authorization": "token " + this.authorizationToken
                    },
                    body: 'tutorial_info[tutorial_id]=' + tutorial.getId()
                            + '&tutorial_info[status]=DONE'
                            + '&tutorial_info[step]=' + tutorial.maxSteps
                }).then(function(request) {
                    this._applyTutorialStatus(request.response);
                }.bind(this));

                for (var idx in this.tutorials) {
                    if (this.tutorials.hasOwnProperty(idx)) {
                        if (!this.tutorials[idx].isDone()) {
                            return;
                        }
                    }
                }

                this.showAllTutorialsDoneInfo();
            },

            showAllTutorialsDoneInfo: function() {
                var targetElement = document.querySelector('* paper-icon-button.appsco-get-started-icon');
                if(null === targetElement) {
                    targetElement = document.querySelector('* /deep/ paper-icon-button.appsco-get-started-icon');
                }

                var cover = this.buildCover(targetElement);
                var doneElement = document.querySelector('* #done-all-tutorials');
                if(null === doneElement) {
                    doneElement = document.querySelector('* /deep/ #done-all-tutorials');
                }
                var closeButton = document.querySelector('* #done-all-tutorials paper-button');
                if(null === closeButton) {
                    closeButton = document.querySelector('* /deep/ #done-all-tutorials paper-button');
                }

                var closeListener = function() {
                        cover.destroy();
                        popper.destroy();
                        doneElement.hidden = true;

                        targetElement.removeEventListener('click', closeListener);
                        closeButton.removeEventListener('click', closeListener);
                    };
                var popperGetStartedIcon = document.querySelector('* paper-icon-button.appsco-get-started-icon');
                if(null === popperGetStartedIcon) {
                    popperGetStartedIcon = document.querySelector('* /deep/ paper-icon-button.appsco-get-started-icon');
                }
                var popper = new Popper(
                        popperGetStartedIcon,
                        doneElement, { placement: 'right-start' }
                    );

                closeButton.addEventListener('click', closeListener);
                targetElement.addEventListener('click', closeListener);

                cover.show();
                doneElement.hidden = false;
            },

            _applyTutorialStatus: function(tutorialsInfo) {
                for (var idx in tutorialsInfo) {
                    if (tutorialsInfo.hasOwnProperty(idx)) {
                        this.tuts.forEach(function(tut) {
                            var tutorial = this.$$('#'+tut);
                            if (!tutorial) { return; }
                            if (tutorial.getId() === idx) {
                                tutorial.status = tutorialsInfo[idx]['status'];
                            }
                        }.bind(this));
                    }
                }

                var tutorials = this.tutorials;
                this.set('tutorials', {});
                this.set('tutorials', tutorials);
           },

            getCurrentState: function() {
                var tutorialsRequest = document.createElement('iron-request');

                tutorialsRequest.send({
                    url: this.tutorialsApi,
                    method: "GET",
                    handleAs: 'json',
                    headers: {
                        "Authorization": "token " + this.authorizationToken
                    }
                }).then(function(request) {
                    this._applyTutorialStatus(request.response);
                }.bind(this));
            },

            startTutorial: function(tutorialId) {
                this.tuts.forEach(function(tut) {
                    var tutorial = this.$$('#'+tut);
                    if (!tutorial) { return; }
                    if (tutorial.getId() === tutorialId) {
                        tutorial.start();
                    }
                }.bind(this));
            },

            notifyDomainAdded: function(domain) {
                this.$.companyDomain.domainAdded(domain);
            },

            _computeIsTutorialActive: function() {
                for(var idx in this.currentSteps) {
                    if (this.currentSteps.hasOwnProperty(idx) && this.currentSteps[idx] > 0) {
                        this.isTutorialActive = true;
                        return;
                    }
                }

                this.isTutorialActive = false;
            },

            _onStepChanged: function(event) {
                if (!this.currentSteps) {
                    this.currentSteps = {};
                }
                this.currentSteps[event.detail.id] = event.detail.step;
                this._computeIsTutorialActive();
            }

        });
    </script>
</dom-module>
