<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="appsco-tutorial-behaviour.html">
<link rel="import" href="../components/appsco-cover-behaviour.html">

<script src="../../../bower_components/popper.js/dist/umd/popper.js"></script>
<script src="../../../bower_components/popper.js/dist/umd/popper-utils.js"></script>

<dom-module id="appsco-tutorial-provisioning">
    <template>
        <style>
            :host {
            }
            :host .step{
                z-index: 9000;
                background-color: var(--header-background-color);
                color: var(--header-text-color);
                border: 1px solid rgba(0,0,0,0.3);

                padding: 10px;
                @apply(--shadow-elevation-8dp);
                margin-left:10px;
            }
            .flex-horizontal {
                @apply(--layout-horizontal);
            }
            .empty {
                @apply(--layout-flex);
            }
            :host #step-1 a.knowledge-base-link {
                text-decoration: none;
                color: inherit;

            }
        </style>
        <div id="step-1" class="step" hidden>
            <p style="padding: 10px;">
                Provisioning refers to adding integrations with the other systems<br>
                in order to automate onboarding and offboarding of users and contacts <br/>
                while providing better control over access rights and resource security. <br>
                <br>
                AppsCo supports integrations with several systems and, depending on your company needs, <br/>
                you can set up integrations from external systems to AppsCo or the other way around. <br>
                <br>
                Setting up integration rules allows you to automate adding, <br/>
                modifying and removing users and clients and their access rights to different systems. <br>
                Refer to the linked articles to learn more.

            </p>
            <div class="flex-horizontal">
                <div class="empty"></div>
                <div>
                    <paper-button on-tap="_readMore">Read more</paper-button>
                    <paper-button on-tap="_nextStep">Close</paper-button>
                </div>
            </div>
        </div>

        <div id="step-2" class="step" hidden>
            <p>
                Setting up Provisioning is an advanced feature.<br/>
                You might need help to complete this process.<br/>
                Open the company menu to get started.
            </p>
            <div class="flex-horizontal">
                <div class="empty"></div>
                <div>
                    <paper-button on-tap="_readMore">Read more</paper-button>
                    <paper-button on-tap="_nextStep">Next</paper-button>
                </div>
            </div>
        </div>

        <div id="step-3" class="step" hidden>
            <p>You can add integrations here.</p>
            <div class="flex-horizontal">
                <div class="empty"></div>
                <div>
                    <paper-button on-tap="_nextStep">Next</paper-button>
                </div>
            </div>
        </div>

        <div id="step-4" class="step" hidden>
            <p>
                To create a new integration, click on ADD.
            </p>
            <div class="flex-horizontal">
                <div class="empty"></div>
                <div>
                    <paper-button on-tap="_nextStep">Next</paper-button>
                </div>
            </div>
        </div>

        <div id="step-5" class="step" hidden>
            <p>Choose a system you wish to create an integration with.</p>
            <div class="flex-horizontal">
                <div class="empty"></div>
                <div>
                    <paper-button on-tap="_nextStep">Next</paper-button>
                </div>
            </div>
        </div>

        <div id="step-6" class="step" hidden>
            <p>
                Fill in the necessary information to configure an integration and click ADD.
            </p>
            <div class="flex-horizontal">
                <div class="empty"></div>
                <div>
                    <paper-button on-tap="_nextStep">Next</paper-button>
                </div>
            </div>
        </div>

        <div id="step-7" class="step" hidden>
            <p>You have seen how to add an integration.<br />
                The next step is to configure integration rules and webhooks, <br />
                once the integration is added.  <br />
                Refer to the linked articles to learn more.
            </p>
            <div class="flex-horizontal">
                <div class="empty"></div>
                <div>
                    <paper-button on-tap="_readMore">Read more</paper-button>
                    <paper-button on-tap="_nextStep">Done</paper-button>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({

            is: 'appsco-tutorial-provisioning',

            _readMore: function () {
                window.open(this.readme, '_blank');
            },

            property: {
                page: {
                    type: String
                },

                tutorialTitle:{
                    type: String,
                    notify: true
                }
            },

            behaviors: [
                Polymer.AppscoTutorialBehaviour,
                Polymer.AppscoCoverBehaviour
            ],

            pageChanged: function() {
                if(this.page !== 'provisioning' && this.step === 3) {
                    this.reset();
                }
            },

            attached: function() {
                this.tutorialId = 'provisioning';
                this.tutorialTitle = 'Provisioning';
                this.description = 'Add integrations with other systems';
                this.icon = 'icons:icons:compare-arrows';
                this.readme = 'https://support.appsco.com/hc/en-gb/sections/360002084391-Provisioning';

                this.init();
            },

            getPopperConfig: function() {
                return {
                    step1: {
                        reference: 'body',
                        coverTarget: '* /deep/ appsco-tutorial-provisioning /deep/ #step-1',
                        popperOptions: {
                            placement: 'right-start'
                        }
                    },
                    step2: {
                        reference: '* /deep/ #menuBurger',
                        coverTarget: '* /deep/ #menuBurger',
                        popperOptions: {
                            placement: 'right-start'
                        }
                    },
                    step3: {
                        reference: '* /deep/ #menuProvisioningText',
                        coverTarget: '* /deep/ #menuContainer',
                        popperOptions: {
                            placement: 'right-start'
                        }
                    },
                    step4: {
                        reference: '* /deep/ appsco-provisioning-actions /deep/ paper-button.add-action',
                        coverTarget: '* /deep/ appsco-provisioning-actions /deep/ paper-button.add-action',
                        popperOptions: {
                            placement: 'left-start'
                        }
                    },
                    step5: {
                        reference: '* /deep/ appsco-add-integration /deep/ appsco-available-integration-item /deep/ div.item',
                        coverTarget: '* /deep/ appsco-add-integration /deep/ appsco-available-integration-item  /deep/ div.item',
                        popperOptions: {
                            placement: 'left-start'
                        }
                    },
                    step6: {
                        reference: '* /deep/ appsco-add-integration /deep/ paper-button#addAction',
                        coverTarget: '* /deep/ appsco-add-integration /deep/ paper-dialog',
                        popperOptions: {
                            placement: 'left-start'
                        },
                        popperListenerBuilder: function(tutorial) {
                            var
                                dialog = document.querySelector('* /deep/ appsco-add-integration /deep/ paper-dialog'),
                                cancelButton = document.querySelector('* /deep/ appsco-add-integration /deep/ paper-button[dialog-dismiss]'),
                                addButton = document.querySelector('* /deep/ appsco-add-integration /deep/ paper-button#addAction'),
                                cancelListener,
                                addListener;

                            cancelListener = function() {
                                cancelButton.removeEventListener('click', cancelListener);
                                addButton.removeEventListener('click', addListener);
                                dialog.removeAttribute('no-cancel-on-outside-click');
                                dialog.removeAttribute('no-cancel-on-esc-key');
                                tutorial.reset();
                            };

                            addListener = function() {
                                cancelButton.removeEventListener('click', cancelListener);
                                addButton.removeEventListener('click', addListener);
                                dialog.removeAttribute('no-cancel-on-outside-click');
                                dialog.removeAttribute('no-cancel-on-esc-key');

                                dialog.close();
                                tutorial.nextStep();
                            };

                            cancelButton.addEventListener('click', cancelListener);
                            addButton.addEventListener('click', addListener);
                        }
                    },
                    step7: {
                        reference: '* /deep/ #menuBurger',
                        coverTarget: '* /deep/ #menuBurger',
                        popperOptions: {
                            placement: 'left-start'
                        }
                    }
                };
            },

            start: function() {
                this.step = 0;
                this.nextStep();
            },

            step4: function(index, item, doneBuildingPopperHandler) {
                setTimeout(function() {
                    this.handleStep(index, item, doneBuildingPopperHandler);
                }.bind(this), 400);
            },

            step5: function(index, item, doneBuildingPopperHandler) {
                setTimeout(function() {
                    document
                        .querySelector('* /deep/ appsco-add-integration /deep/ paper-dialog')
                        .setAttribute('no-cancel-on-outside-click', true);
                    document
                        .querySelector('* /deep/ appsco-add-integration /deep/ paper-dialog')
                        .setAttribute('no-cancel-on-esc-key', true);
                    this.handleStep(index, item, doneBuildingPopperHandler);
                }.bind(this), 700);
            },

            step6: function(index, item, doneBuildingPopperHandler) {
                setTimeout(function() {
                    this.handleStep(index, item, doneBuildingPopperHandler);
                }.bind(this), 500);
            },

            step7: function(index, item, doneBuildingPopperHandler) {
                setTimeout(function() {
                    this.handleStep(index, item, doneBuildingPopperHandler);
                }.bind(this), 500);
            },

            _nextStep: function() {
                this.currentStep.reference.click();
            }
        });
    </script>
</dom-module>
