<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="appsco-tutorial-behaviour.html">
<link rel="import" href="../components/appsco-cover-behaviour.html">

<script src="../../../bower_components/popper.js/dist/umd/popper.js"></script>
<script src="../../../bower_components/popper.js/dist/umd/popper-utils.js"></script>

<dom-module id="appsco-tutorial-branded-login">
    <template>
        <style>
            :host {
            }
            :host .step{
                z-index: 9000;
                background-color: var(--header-background-color);
                color: var(--header-text-color);
                border: 1px solid rgba(0,0,0,0.3);

                padding: 10px;
                @apply(--shadow-elevation-8dp);
                margin-left:10px;
            }
            .flex-horizontal {
                @apply(--layout-horizontal);
            }
            .empty {
                @apply(--layout-flex);
            }
        </style>
        <div id="step-1" class="step" hidden>
            <p>To get started - open the company menu.</p>
            <div class="flex-horizontal">
                <div class="empty"></div>
                <div>
                    <paper-button on-tap="_nextStep">Next</paper-button>
                </div>
            </div>
        </div>

        <div id="step-2" class="step" hidden>
            <p>You can find the branded login options in company settings..</p>
            <div class="flex-horizontal">
                <div class="empty"></div>
                <div>
                    <paper-button on-tap="_nextStep">Next</paper-button>
                </div>
            </div>
        </div>

        <div id="step-3" class="step" hidden>
            <p>To customize login form for your company<br />
                and add your own branding go here.</p>
            <div class="flex-horizontal">
                <div class="empty"></div>
                <div>
                    <paper-button on-tap="_nextStep">Next</paper-button>
                </div>
            </div>
        </div>

        <div id="step-4" class="step" hidden style="position: absolute">
            <p>If you are done with the changes, hit save.</p>
            <div class="flex-horizontal">
                <div class="empty"></div>
                <div>
                    <paper-button on-tap="_nextStep5">Next</paper-button>
                </div>
            </div>
        </div>

        <div id="step-5" class="step" hidden>
            <p>Branded login for your company is now set up, <br />
                to continue with Getting started tutorial, <br />
                open the company menu.
            </p>
            <div class="flex-horizontal">
                <div class="empty"></div>
                <div>
                    <paper-button on-tap="_nextStep">Done</paper-button>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({

            is: 'appsco-tutorial-branded-login',

            property: {
                page: {
                    type: String
                }
            },

            behaviors: [
                Polymer.AppscoTutorialBehaviour,
                Polymer.AppscoCoverBehaviour
            ],

            pageChanged: function() {
                if(this.page !== 'company' && this.step === 2) {
                    this.reset();
                }
                if(this.page === 'company' && this.step === 2) {
                    setTimeout(function(){
                        this.nextStep();
                    }.bind(this), 3000);
                }
            },

            attached: function() {
                this.tutorialId = 'branded_login';
                this.tutorialTitle = 'Branded login';
                this.description = 'Set customized login for your company';
                this.icon = 'icons:settings';
                this.readme = 'https://support.appsco.com/hc/en-gb/articles/360014981992-Branded-login';

                this.init();
            },

            getPopperConfig: function() {
                return {
                    step1: {
                        reference: '* /deep/ #menuBurger',
                        coverTarget: '* /deep/ #menuBurger',
                        popperOptions: {
                            placement: 'right-start'
                        }
                    },
                    step2: {
                        reference: '* /deep/ #menuCompanySettingsText',
                        coverTarget: '* /deep/ #menuContainer',
                        popperOptions: {
                            placement: 'right-start'
                        }
                    },
                    step3: {
                        reference: '* /deep/ #companySettingsBrandedLoginCardBtn',
                        coverTarget: '* /deep/ #companySettingsBrandedLoginCard',
                        popperOptions: {
                            placement: 'right-start'
                        }
                    },
                    step4: {
                        reference: '* /deep/ #submitBrandedLoginForm',
                        coverTarget: '* /deep/ #brandedLoginCard',
                        popperOptions: {
                            placement: 'left'
                        }
                    },
                    step5: {
                        reference: '* /deep/ #menuBurger',
                        coverTarget: '* /deep/ #menuBurger',
                        popperOptions: {
                            placement: 'right-start'
                        }
                    }
                };
            },

            step3: function(index, item, doneBuildingPopperHandler) {
                var handleFunction = function() {
                    var element = document.querySelector('* /deep/ #appscoCompanyComponentsPage');
                    if (!element || this.page !== 'company') {
                        setTimeout(handleFunction, 200);
                        return;
                    }
                    element.scrollTop = element.scrollHeight;
                    this.handleStep(index, item, doneBuildingPopperHandler);
                }.bind(this);
                handleFunction();
            },

            step4: function(index, item, doneBuildingPopperHandler) {
                // wait 400 msec for animation to finish
                setTimeout(function() {
                    this.handleStep(index, item, doneBuildingPopperHandler);
                }.bind(this), 400);
            },

            start: function() {
                this.step = 0;
                this.nextStep();
            },

            _nextStep: function() {
                this.currentStep.reference.click();
            },

            _nextStep5: function() {
                this.nextStep();
            }
        });
    </script>
</dom-module>
