<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="appsco-tutorial-behaviour.html">
<link rel="import" href="../components/appsco-cover-behaviour.html">

<script src="../../../bower_components/popper.js/dist/umd/popper.js"></script>
<script src="../../../bower_components/popper.js/dist/umd/popper-utils.js"></script>

<dom-module id="appsco-tutorial-add-company-user">
    <template>
        <style>
            :host {
            }
            :host .step{
                z-index: 9000;
                background-color: var(--header-background-color);
                color: var(--header-text-color);
                border: 1px solid rgba(0,0,0,0.3);

                padding: 10px;
                @apply(--shadow-elevation-8dp);
                margin-left:10px;
            }
            .flex-horizontal {
                @apply(--layout-horizontal);
            }
            .empty {
                @apply(--layout-flex);
            }
        </style>
        <div id="step-1" class="step" hidden>
            <p>Open the company menu to get started.</p>
            <div class="flex-horizontal">
                <div class="empty"></div>
                <div>
                    <paper-button on-tap="_nextStep">Next</paper-button>
                </div>
            </div>
        </div>

        <div id="step-2" class="step" hidden>
            <p>You can find the company directory here.</p>
            <div class="flex-horizontal">
                <div class="empty"></div>
                <div>
                    <paper-button on-tap="_nextStep">Next</paper-button>
                </div>
            </div>
        </div>

        <div id="step-3" class="step" hidden>
            <p>Add new users to the directory here.</p>
            <div class="flex-horizontal">
                <div class="empty"></div>
                <div>
                    <paper-button on-tap="_nextStep">Next</paper-button>
                </div>
            </div>
        </div>

        <div id="step-4" class="step" hidden style="position: absolute">
            <p>Fill in the user information and  <br />
                click ADD to add the user to the directory.</p>
            <div class="flex-horizontal">
                <div class="empty"></div>
                <div>
                    <paper-button on-tap="_nextStep5">Next</paper-button>
                </div>
            </div>
        </div>

        <div id="step-5" class="step" hidden>
            <p>You have seen how to add users to the company directory. <br />
                Open the company menu to continue with the Get started tutorial.
            </p>
            <div class="flex-horizontal">
                <div class="empty"></div>
                <div>
                    <paper-button on-tap="_readMore">Read more</paper-button>
                    <paper-button on-tap="_nextStep">Done</paper-button>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({

            is: 'appsco-tutorial-add-company-user',

            _readMore: function () {
                window.open(this.readme, '_blank');
            },

            property: {
                page: {
                    type: String
                },

                directoryPageLoaded: {
                    type: Boolean,
                    value: false,
                    notify: true
                }
            },

            behaviors: [
                Polymer.AppscoTutorialBehaviour,
                Polymer.AppscoCoverBehaviour
            ],

            pageChanged: function() {
                if(this.page !== 'directory' && this.step === 2) {
                    this.reset();
                }
            },

            ready: function() {
                this.tutorialId = 'directory';
                this.tutorialTitle = 'Directory';
                this.description = 'Add company users to directory';
                this.icon = 'icons:social:person';
                this.readme = 'https://support.appsco.com/hc/en-gb/sections/360002084191-Users-and-licences-';
            },

            attached: function() {
                this.tutorialId = 'directory';
                this.tutorialTitle = 'Directory';
                this.description = 'Add company users to directory';
                this.icon = 'icons:social:person';
                this.readme = 'https://support.appsco.com/hc/en-gb/sections/360002084191-Users-and-licences-';

                this.init();
            },

            getPopperConfig: function() {
                return {
                    step1: {
                        reference: '* /deep/ #menuBurger',
                        coverTarget: '* /deep/ #menuBurger',
                        popperOptions: {
                            placement: 'right-start'
                        }
                    },
                    step2: {
                        reference: '* /deep/ #menuCompanyDirectoryText',
                        coverTarget: '* /deep/ #menuContainer',
                        popperOptions: {
                            placement: 'right-start'
                        }
                    },
                    step3: {
                        reference: '* /deep/ #addAccountAction',
                        coverTarget: '* /deep/ #addAccountAction',
                        popperOptions: {
                            placement: 'right-start'
                        }
                    },
                    step4: {
                        reference: '* /deep/ #addAccountDialogButton',
                        coverTarget: '* /deep/ #addAccountDialog',
                        popperOptions: {
                            placement: 'bottom'
                        }
                    },
                    step5: {
                        reference: '* /deep/ #menuBurger',
                        coverTarget: '* /deep/ #menuBurger',
                        popperOptions: {
                            placement: 'right-start'
                        }
                    }
                };
            },

            step3: function(index, item, doneBuildingPopperHandler) {
                var attempts = 0,
                    handleFunction = function() {
                    attempts++;
                    if (attempts > 100) {
                        return;
                    }
                    var element = this._querySelector('* /deep/ #addAccountAction');
                    if (!element || this.page !== 'directory' || !this.directoryPageLoaded) {
                        setTimeout(handleFunction, 200);
                        return;
                    }
                    this.handleStep(index, item, doneBuildingPopperHandler);
                }.bind(this);
                handleFunction();
            },

            step4: function(index, item, doneBuildingPopperHandler) {
                setTimeout(function() {
                    this.handleStep(index, item, doneBuildingPopperHandler);
                }.bind(this), 550);
            },

            start: function() {
                this.step = 0;
                this.nextStep();
            },

            _nextStep: function() {
                this.currentStep.reference.click();
            },

            _nextStep5: function() {
                this.nextStep();
            }
        });
    </script>
</dom-module>
