<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/paper-styles/shadow.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="../components/appsco-list-item-styles.html">

<!--
`appsco-application-item`
Application item is used to present application in form of an item.

    <appsco-application-item>
    </appsco-application-item>

### Styling

`<appsco-application-item>` provides the following custom properties and mixins for styling:

Custom property | Description | Default
----------------|-------------|----------
`--item-background-color` | Background color applied to the root element | `#fff`
`--color` | Color applied to all the text | `#33`
`--appsco-application-item` | Mixin for the root element | `{}`

@demo demo/appsco-application-item.html
-->

<dom-module id="appsco-application-item">
    <template>
        <style include="appsco-list-item-styles">
            :host {
                width: 100%;
                margin: 0 0 10px 0;

                --icon-action-border-radius: 16px;
            }
            :host([display-grid]) .item-icon {
                margin: 24px 0 8px 0;
            }
        </style>

        <iron-media-query query="(max-width: 800px)" query-matches="{{ tabletScreen }}"></iron-media-query>

        <div class="item" on-tap="_onApplicationAction">
            <iron-image class="item-icon"
                        placeholder="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABGdBTUEAALGPC/xhBQAAAI5JREFUeAHt1YEJwCAQBEFN/60KYgMRbGMnHXjs5Ofa5x/h7wu//T3dAAqIL4BAPIChAAXEF0AgHoCfIAIIxBdAIB6AK4AAAvEFEIgH4AoggEB8AQTiAbgCCCAQXwCBeACuAAIIxBdAIB6AK4AAAvEFEIgH4AoggEB8AQTiAbgCCCAQXwCBeACuAAIIxBe4yV0EThqVC64AAAAASUVORK5CYII="
                        sizing="cover"
                        preload fade src="[[ _applicationIcon ]]"></iron-image>

            <template is="dom-if" if="[[ !displayGrid ]]">
                <div class="item-info item-basic-info">
                    <span class="info-label item-title">[[ application.title ]]</span>
                    <span class="info-value"
                          hidden$="[[ !company ]]">[[ _applicationType ]]</span>
                </div>

                <div class="item-info item-additional-info">
                    <template is="dom-if" if="[[ _orgUnits ]]">
                        <div class="info">
                            <span class="info-label">Organization units:&nbsp;</span>
                            <span class="info-value"
                                  hidden$="[[ !company ]]">[[ _orgUnits ]]</span>
                        </div>
                    </template>

                    <template is="dom-if" if="[[ _groups ]]">
                        <div class="info">
                            <span class="info-label">Groups:&nbsp;</span>
                            <span class="info-value">[[ _groups ]]</span>
                        </div>
                    </template>
                </div>
            </template>

            <template is="dom-if" if="[[ displayGrid ]]">
                <div class="resource-title">
                    [[ application.title ]]
                </div>
            </template>

            <div class="actions">
                <template is="dom-if" if="[[ !company ]]">
                    <paper-button on-tap="_onInfo">Info</paper-button>
                </template>

                <paper-button on-tap="_onEdit"
                              disabled$="[[ !_editable ]]">Edit</paper-button>
            </div>
        </div>
    </template>

    <script>
        class AppscoApplicationItem extends Polymer.mixinBehaviors([Polymer.NeonAnimationRunnerBehavior], Polymer.Element) {
            static get is() { return 'appsco-application-item'; }

            static get properties() {
                return {
                    company: {
                        type: Boolean,
                        value: false,
                        reflectToAttribute: true
                    },

                    /**
                     * [Application](https://developers.appsco.com/api/dashboard/id/icons/id) that is to be rendered
                     */
                    application: {
                        type: Object,
                        value: function () {
                            return {};
                        },
                        observer: '_onApplicationChanged'
                    },

                    displayGrid: {
                        type: Boolean,
                        value: false,
                        reflectToAttribute: true
                    },

                    tabletScreen: {
                        type: Boolean,
                        value: false,
                        reflectToAttribute: true
                    },

                    _applicationType: {
                        type: String,
                        computed: '_computeApplicationType(application)'
                    },

                    _orgUnits: {
                        type: String,
                        computed: '_computeOrganizationUnits(company, application)'
                    },

                    _groups: {
                        type: String,
                        computed: '_computeGroups(company, application)'
                    },

                    active: {
                        type: Boolean,
                        value: false,
                        reflectToAttribute: true
                    },

                    _applicationIcon: {
                        type: String,
                        computed: '_computeApplicationIcon(company, application)'
                    },

                    _shared: {
                        type: Boolean,
                        computed: '_computeApplicationShared(company, application)'
                    },

                    _editable: {
                        type: Boolean,
                        computed: '_computeApplicationEditable(_shared, application)'
                    },

                    animationConfig: {
                        type: Object
                    }
                };
            }

            ready() {
                super.ready();

                this.animationConfig = {
                    'entry': {
                        name: 'fade-in-animation',
                        node: this,
                        timing: {
                            duration: 200
                        }
                    },
                    'exit': {
                        name: 'fade-out-animation',
                        node: this,
                        timing: {
                            duration: 100
                        }
                    }
                };

                Polymer.RenderStatus.beforeNextRender(this, function() {
                    this.style.display = 'inline-block';
                });
            }

            _onApplicationChanged(application) {
                if (this.company) {
                    this.active = application.selected;
                }
            }

            _computeApplicationType(application) {
                switch (application.auth_type) {
                    case 'login':
                        return 'Login';
                    case 'cc':
                        return 'Credit Card';
                    case 'softwarelicence':
                        return 'Software Licence';
                    case 'passport':
                        return 'Passport';
                    case 'securenote':
                        return 'Secure Note';
                    case 'none':
                        return 'Link';
                    case 'open_id':
                        return 'Open ID';
                    default:
                        return 'Application';
                }
            }

            _computeOrganizationUnits(company, application) {
                if (company && application.org_units && application.org_units.length > 0) {
                    let result = '',
                        orgUnits = application.org_units,
                        length = orgUnits.length;

                    for (let i = 0; i < length; i++) {
                        result += orgUnits[i].name;
                        result += (i === length -1) ? '' : ', ';
                    }
                    return result;
                }

                return '';
            }

            _computeGroups(company, application) {
                if (company && application.groups && application.groups.length > 0) {
                    let result = '',
                        groups = application.groups,
                        length = groups.length;

                    for (let i = 0; i < length; i++) {
                        result += groups[i].name;
                        result += (i === length -1) ? '' : ', ';
                    }

                    return result;
                }

                return '';
            }

            _computeApplicationIcon(company, application) {
                return company ? application.application_url : application.icon_url;
            }

            _computeApplicationShared(company, application) {
                return (!company && !application.owner);
            }

            _computeApplicationEditable(shared, application) {
                return !shared || application.application.user_can_edit;
            }

            _onInfo(event) {
                event.stopPropagation();

                this.dispatchEvent(new CustomEvent('info', {
                    bubbles: true,
                    composed: true,
                    detail: {
                        application: this.application
                    }
                }));
            }

            _onEdit(event) {
                event.stopPropagation();

                if (this._shared) {
                    this.dispatchEvent(new CustomEvent('edit-shared-application', {
                        bubbles: true,
                        composed: true,
                        detail: {
                            application: this.application
                        }
                    }));
                } else {
                    this.dispatchEvent(new CustomEvent('edit', {
                        bubbles: true,
                        composed: true,
                        detail: {
                            application: this.application
                        }
                    }));
                }
            }

            _onApplicationAction() {
                this.active = !this.active;

                if (this.company) {
                    this.application.selected = this.active;
                }

                this.dispatchEvent(new CustomEvent('application', {
                    bubbles: true,
                    composed: true,
                    detail: {
                        application: this.application
                    }
                }));
            }

            select() {
                this.active = true;
            }

            deselect() {
                this.active = false;
            }
        }
        window.customElements.define(AppscoApplicationItem.is, AppscoApplicationItem);
    </script>
</dom-module>
