<!doctype html>
<html>
<head>
    <title>appsco-header-account-actions demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../../../../../@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>

    <script type="module" src="../../../../../../@polymer/iron-demo-helpers/demo-pages-shared-styles.js"></script>
    <script type="module" src="../../../../../../@polymer/iron-demo-helpers/demo-snippet.js"></script>

    <script type="module" src="../appsco-header-account-actions.js"></script>

    <!-- FIXME(polymer-modulizer):
        These imperative modules that innerHTML your HTML are
        a hacky way to be sure that any mixins in included style
        modules are ready before any elements that reference them are
        instantiated, otherwise the CSS @apply mixin polyfill won't be
        able to expand the underlying CSS custom properties.
        See: https://github.com/Polymer/polymer-modulizer/issues/154
        -->
    <script type="module">
const $_documentContainer = document.createElement('template');

$_documentContainer.innerHTML = `<custom-style>
        <style include="demo-pages-shared-styles">
            html {
              --primary-text-color: #8398b1;
              --appsco-account-action-color: green;
            }
        </style>
    </custom-style>`;

document.body.appendChild($_documentContainer.content);
</script>
</head>
<body>

<script type="module">
const $_documentContainer = document.createElement('template');

$_documentContainer.innerHTML = `<div class="vertical-section-container centered">
    <h3>Basic appsco-header-account-actions Demo</h3>
    <demo-snippet>
        <template is="dom-bind">
            <appsco-header-account-actions id="appscoAccountActions" account="{
                                &quot;id&quot;: &quot;1&quot;,
                                &quot;email&quot;: &quot;john.doe@exampleemail.com&quot;,
                                &quot;first_name&quot;: &quot;John&quot;,
                                &quot;last_name&quot;: &quot;Doe&quot;,
                                &quot;locale&quot;: &quot;Europe/Serbia&quot;,
                                &quot;gender&quot;: &quot;m&quot;,
                                &quot;country&quot;: &quot;RS&quot;,
                                &quot;phone&quot;: &quot;null&quot;,
                                &quot;picture_url&quot;: &quot;http://app-layout-assets.appspot.com/assets/PharrellWilliams.jpg&quot;,
                                &quot;info&quot;: &quot;This account is managed by boutsourcing.com.&quot;,
                                &quot;intranet&quot;: &quot;https://appsco.com&quot;
                            }" chat="" authorization-token="1o833krv0s68osk4skckkwsgws844o480ko48wsco0k4o4kook4wnkgimtqyo0g0ko0g8wok4go40kgwgksw84wcs808wwcgg44" notifications-api="https://my-dev.appsco.com/api/v2/notifications" notifications-size="8">
            </appsco-header-account-actions>

            <appsco-account-chat id="appscoAccountChat" account="{
                                &quot;id&quot;: &quot;1&quot;,
                                &quot;email&quot;: &quot;john.doe@exampleemail.com&quot;,
                                &quot;first_name&quot;: &quot;John&quot;,
                                &quot;last_name&quot;: &quot;Doe&quot;,
                                &quot;locale&quot;: &quot;Europe/Serbia&quot;,
                                &quot;gender&quot;: &quot;m&quot;,
                                &quot;country&quot;: &quot;RS&quot;,
                                &quot;phone&quot;: &quot;null&quot;,
                                &quot;picture_url&quot;: &quot;http://app-layout-assets.appspot.com/assets/PharrellWilliams.jpg&quot;,
                                &quot;info&quot;: &quot;This account is managed by boutsourcing.com.&quot;,
                                &quot;intranet&quot;: &quot;https://appsco.com&quot;
                            }" chat="{
                            &quot;auth&quot;: &quot;auth code&quot;,
                            &quot;room&quot;: &quot;room number&quot;,
                            &quot;service&quot;: &quot;https://www.xxx.com&quot;,
                            &quot;active&quot;: &quot;false&quot;
                          }" dont-close-outside="">
            </appsco-account-chat>

            <script type="text/javascript">
                appscoAccountActions.addEventListener('account-chat', function(event) {
                    appscoAccountChat.toggleChat(event.target);
                });
            &lt;/script>
        </template>
    </demo-snippet>
</div>`;

document.body.appendChild($_documentContainer.content);
</script>ountChat.toggleChat(event.target);
});
</script>
        </template>
    </demo-snippet>
</div>

</body>
</html>
