<script type="module" src="./appsco-account.js"></script>
<script type="module" src="./appsco-account-actions.js"></script>
<script type="module" src="./appsco-account-details.js"></script>
<script type="module" src="./appsco-account-settings.js"></script>
<script type="module" src="./appsco-account-image-settings.js"></script>
<script type="module" src="./appsco-account-notifications.js"></script>
<script type="module" src="./appsco-account-log.js"></script>
<script type="module" src="./appsco-account-authorized-apps.js"></script>
<script type="module" src="./appsco-account-authorized-app.js"></script>
<script type="module" src="./appsco-account-2fa-enable.js"></script>
<script type="module" src="./appsco-account-change-password.js"></script>
<script type="module" src="./company/appsco-account-orgunit.js"></script>
<script type="module" src="./company/appsco-account-remove.js"></script>
<script type="module" src="./company/appsco-account-orgunits.js"></script>
<script type="module" src="./company/appsco-account-orgunit-item.js"></script>
<script type="module" src="./company/appsco-account-remove-orgunit.js"></script>
<script type="module" src="./company/appsco-company-account-change-password.js"></script>
<script type="module" src="./company/appsco-account-roles.js"></script>
<script type="module" src="./appsco-invitations.js"></script>
<script type="module" src="./appsco-invitation-item.js"></script>
<script type="module" src="./appsco-invitation-remove.js"></script>
