<link rel="import" href="../../../bower_components/polymer/polymer.html">

<!--
`appsco-account`
Component that represents composition of components related to appsco account.

@demo demo/index.html 
-->

<dom-module id="appsco-account">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <p>
            Component that represents composition of components related to appsco account.
        </p>

    </template>

    <script>
        class AppscoAccount extends Polymer.Element {
            static get is() { return 'appsco-account'; }
        }
        window.customElements.define(AppscoAccount.is, AppscoAccount);
    </script>
</dom-module>
