<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../components/appsco-loader.html">
<link rel="import" href="../components/appsco-upload-image-behavior.html">
<link rel="import" href="../components/appsco-upload-image-styles.html">

<dom-module id="appsco-account-image-settings">
    <template>
        <style include="appsco-upload-image-styles">
            :host appsco-loader,
            :host .upload-container,
            :host .item-image,
            :host .item-image-upload,
            :host .item-image::shadow #sizedImgDiv,
            :host .item-image::shadow #placeholder {
                border-radius: var(--account-image-upload-radius, 50%);
            }
        </style>

        <div class="upload-container">
            <appsco-loader active="[[ _loader ]]" loader-alt="AppsCo is processing request" multi-color></appsco-loader>

            <iron-image class="item-image"
                        src="[[ account.picture_url ]]"
                        alt="Account image"
                        class="sized"
                        sizing="cover"></iron-image>

            <template is="dom-if" if="[[ !previewOnly ]]">
                <label for="imageInput"
                       class$="item-image-upload [[ _imagePreview ]]">
                    <iron-icon icon="file-upload" class="icon-upload"></iron-icon>
                </label>

                <input type="file"
                       accept="image/*"
                       id="imageInput"
                       name="account-image"
                       class="upload-file"
                       on-change="_onUploadImage">
            </template>
        </div>

        <template is="dom-if" if="[[ !previewOnly ]]">
            <template is="dom-if" if="[[ account.picture_url ]]">
                <paper-button class="remove-action"
                              on-tap="_onRemoveImageAction">Remove photo</paper-button>
            </template>
        </template>

        <slot name="info" old-content-selector="[info]"></slot>

    </template>
    <script>
        Polymer({

            is: 'appsco-account-image-settings',

            properties: {
                /**
                 * Account to update.
                 */
                account: {
                    type: Object,
                    value: function() {
                        return {}
                    },
                    notify: true
                },

                _imagePreview: {
                    type: String,
                    computed: '_computeImagePreviewClass(account)'
                }
            },

            behaviors: [
                Polymer.AppscoUploadImageBehavior
            ],

            reset: function() {
                var account = JSON.parse(JSON.stringify(this.account));

                this.set('account', {});
                this.set('account', account);
            },

            _computeImagePreviewClass: function(account) {
                return (account && account.picture_url) ? 'has-image' : 'no-image';
            },

            _setNewImage: function(file) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    this._setObjectAttribute('account', 'picture_url', e.target.result);
                }.bind(this);

                reader.readAsDataURL(file);
            },

            _fireChangeEvent: function() {},

            _setStateAfterImageIsRemoved: function() {
                this._setObjectAttribute('account', 'picture_url', '');
                this._hideLoader();
            }
        });
    </script>
</dom-module>
