<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../components/appsco-list-item-behavior.html">
<link rel="import" href="../components/appsco-list-item-styles.html">
<link rel="import" href="../components/appsco-date-format.html">

<dom-module id="appsco-access-on-boarding-event-item">
    <template>
        <style include="appsco-list-item-styles"></style>

        <style>
            :host {
                @apply --appsco-access-on-boarding-event-item;
            }
            .resource {
                @apply --layout-horizontal;
                @apply --layout-center;
                @apply --appsco-access-on-boarding-event;
            }
            .resource-icon {
                @apply --layout-flex-none;
                width: 24px;
                height: 24px;
                margin-right: 5px;
            }
            .resource-title {
                @apply --paper-font-common-nowrap;
                margin-right: 10px;
                font-size: 12px;
                color: var(--secondary-text-color);
            }
            :host table {
                width: 100%;
                border-collapse: separate;
                border-spacing: 0 10px;
            }
            :host table tr th {
                font-size: 12px;
                font-weight: normal;
                color: var(--secondary-text-color);
                text-align: left;
            }
            :host table tr .fixed-td {
                width: 40px;
            }
            :host table tr td {
                font-size: 12px;
                color: var(--primary-text-color);
            }
            :host table tr td.event {
                color: var(--app-danger-color);
            }
        </style>

        <iron-ajax auto
                   url="[[ _eventTypesListUrl ]]"
                   handle-as="json"
                   on-response="_onEventTypesListResponse"></iron-ajax>

        <table>
            <tr hidden>
                <th class="fixed-td"></th>
                <th class="fixed-td"></th>
                <th>Resource title</th>
                <th>Event</th>
                <th>Date</th>
                <th>Action required</th>
            </tr>
            <tr>
                <td class="fixed-td">
                    <paper-checkbox noink></paper-checkbox>
                </td>
                <td class="fixed-td">
                    <iron-image class="resource-icon"
                                placeholder="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABGdBTUEAALGPC/xhBQAAAI5JREFUeAHt1YEJwCAQBEFN/60KYgMRbGMnHXjs5Ofa5x/h7wu//T3dAAqIL4BAPIChAAXEF0AgHoCfIAIIxBdAIB6AK4AAAvEFEIgH4AoggEB8AQTiAbgCCCAQXwCBeACuAAIIxBdAIB6AK4AAAvEFEIgH4AoggEB8AQTiAbgCCCAQXwCBeACuAAIIxBe4yV0EThqVC64AAAAASUVORK5CYII="
                                sizing="cover"
                                preload
                                fade
                                src="[[ item.application_icon.application.application_url ]]"></iron-image>
                </td>
                <td>
                    <span class="resource-title">[[ item.application_icon.title ]]</span>
                </td>
                <td class="event">
                    {{ _getParameter(item, 'event') }}
                </td>
                <td>
                    <appsco-date-format date="[[ item.created_at.date ]]"
                                        options='{"year": "numeric", "month": "long", "day": "numeric"}'></appsco-date-format>
                </td>
                <td>
                    {{ _getParameter(item, 'action') }}
                </td>
            </tr>
        </table>
    </template>

    <script>
        Polymer({

            is: 'appsco-access-on-boarding-event-item',

            properties: {

                eventTypesList: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior,
                Polymer.AppscoListItemBehavior
            ],

            _getParameter: function(item, parameter) {

                if (this.eventTypesList) {
                    var eventTypes = this.eventTypesList;

                    for (var i = 0; i < eventTypes.length; i++) {
                        var eventType = eventTypes[i];

                        if (eventType.name == item.event_type) {
                            return eventType[parameter];
                        }
                    }
                }

                return '';
            }
        });
    </script>
</dom-module>
