<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<dom-module id="appsco-access-on-boarding-actions">
    <template>
        <style>
            :host {
                display: inline-block;
                position: relative;
                margin-right: -10px;
                @apply --layout-horizontal;
                @apply --layout-center;
                @apply --layout-end-justified;
                @apply --appsco-access-on-boarding-actions;
            }
            :host .action {
                margin-right: 10px;
                position: relative;
                @apply --layout-vertical;
                @apply --layout-center;
                @apply --layout-flex-none;
                @apply --access-access-on-boarding-action;
            }
            :host .export-action {
                @apply --primary-button;
                min-width: 100px;
            }
        </style>

        <div class="action">
            <paper-button class="export-action"
                          on-tap="_onExportAction">Export</paper-button>
        </div>
    </template>

    <script>
        class AppscoAccessOnBoardingActions extends Polymer.Element {
            static get is() { return 'appsco-access-on-boarding-actions'; }

            _onExportAction() {
                this.dispatchEvent(new CustomEvent('export-access-on-boarding', { bubbles: true, composed: true }));
            }
        }
        window.customElements.define(AppscoAccessOnBoardingActions.is, AppscoAccessOnBoardingActions);
    </script>
</dom-module>
