<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../../bower_components/paper-styles/shadow.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-request.html">

<link rel="import" href="../account/appsco-account-image.html">
<link rel="import" href="../components/appsco-list-item-behavior.html">
<link rel="import" href="../components/appsco-list-item-styles.html">
<link rel="import" href="appsco-access-on-boarding-event-item.html">
<link rel="import" href="../components/appsco-date-format.html">
<link rel="import" href="../components/appsco-loader.html">
<link rel="import" href="../components/appsco-form-error.html">

<dom-module id="appsco-access-on-boarding-roles-item">
    <template>
        <style include="appsco-list-item-styles"></style>

        <style>
            :host {
                --appsco-access-on-boarding-event-item: {
                    width: 100%;
                    padding-right: 0;
                    margin-bottom: 15px;
                    box-sizing: border-box;
                };

                --paper-checkbox-size: 24px;
                --paper-checkbox-unchecked-color: var(--primary-text-color);
                --paper-checkbox-checked-color: var(--primary-text-color);
            }
            appsco-account-image {
                --account-initials-background-color: var(--report-account-initials-background-color);
            }
            iron-collapse {
                @apply(--shadow-elevation-2dp);
            }
            .events-container {
                padding: 20px;
                background-color: var(--collapsible-content-background-color);
                position: relative;
            }
            .event-list {
                width: 100%;
                @apply(--layout-horizontal);
                @apply(--layout-center);
                @apply(--layout-wrap);
            }
            .message {
                @apply(--info-message);
            }
            .resource-icon {
                width: 24px;
                height: 24px;
                margin-right: 5px;
                display: block;
            }
            .resource-title {
                @apply(--paper-font-common-nowrap);
                margin-right: 10px;
                font-size: 12px;
                color: var(--secondary-text-color);
            }
            :host table {
                width: 100%;
                border-collapse: separate;
                border-spacing: 0 10px;
            }
            :host table tr th {
                font-size: 12px;
                font-weight: normal;
                color: var(--secondary-text-color);
                text-align: left;
            }
            :host table tr .fixed-td {
                width: 40px;
            }
            :host table tr td {
                font-size: 12px;
                color: var(--primary-text-color);
            }
            :host table tr td.event {
                color: var(--app-danger-color);
            }
            :host .list-actions {
                margin-top: 10px;
                @apply(--layout-vertical);
                @apply(--layout-end);
            }
            :host .resolve-action {
                @apply(--primary-button);
                @apply(--shadow-elevation-2dp);
                color: var(--primary-text-color);
                background-color: var(--item-background-color);
                border: none;

            }
            :host([screen800]) .item-additional-info {
                display: none;
            }
        </style>

        <iron-media-query query="(max-width: 800px)" query-matches="{{ screen800}}"></iron-media-query>

        <div class="item">
            <appsco-account-image account="[[ item.user_info ]]"></appsco-account-image>

            <div class="item-info item-basic-info">
                <span class="info-label item-title">[[ item.user_info.display_name ]]</span>
                <span class="info-value">[[ item.user_info.email ]]</span>
            </div>

            <div class="item-info item-additional-info">
                <div class="info">
                    <span class="info-label">Unresolved applications:&nbsp;</span>
                    <span class="info-value">{{ renderedCount }}</span>
                </div>
            </div>

            <div class="actions">
                <paper-button on-tap="_onShowEvents"
                              hidden$="[[ _eventsVisible ]]">Show</paper-button>
                <paper-button on-tap="_onHideEvents"
                              hidden$="[[ !_eventsVisible ]]">Hide</paper-button>
            </div>
        </div>

        <iron-collapse id="events">
            <div class="events-container">

                <appsco-loader class="dialog-loader"
                               active="[[ _loader ]]"
                               loader-alt="AppsCo is processing request"
                               multi-color></appsco-loader>

                <appsco-form-error message="[[ _error ]]"></appsco-form-error>

                <div class="event-list">
                    <table>
                        <tr>
                            <th class="fixed-td"></th>
                            <th class="fixed-td"></th>
                            <th>Resource title</th>
                            <th>Event</th>
                            <th>Date</th>
                            <th>Action required</th>
                        </tr>

                        <template is="dom-repeat"
                                  items="[[ item.access_onboardings ]]"
                                  as="ev"
                                  filter="_isUnresolvedEvent"
                                  observe="status"
                                  rendered-item-count="{{ renderedCount }}">
                            <tr>
                                <td>
                                    <paper-checkbox noink
                                                    checked="{{ ev.selected }}"></paper-checkbox>
                                </td>
                                <td>
                                    <iron-image class="resource-icon"
                                                placeholder="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABGdBTUEAALGPC/xhBQAAAI5JREFUeAHt1YEJwCAQBEFN/60KYgMRbGMnHXjs5Ofa5x/h7wu//T3dAAqIL4BAPIChAAXEF0AgHoCfIAIIxBdAIB6AK4AAAvEFEIgH4AoggEB8AQTiAbgCCCAQXwCBeACuAAIIxBdAIB6AK4AAAvEFEIgH4AoggEB8AQTiAbgCCCAQXwCBeACuAAIIxBe4yV0EThqVC64AAAAASUVORK5CYII="
                                                sizing="cover"
                                                preload
                                                fade
                                                src="[[ ev.application_icon.application.application_url ]]"></iron-image>
                                </td>
                                <td>
                                    <span class="resource-title">[[ ev.application_icon.title ]]</span>
                                </td>
                                <td class="event">
                                    {{ _getParameter(ev, 'event') }}
                                </td>
                                <td>
                                    <appsco-date-format date="[[ ev.created_at.date ]]"
                                                        options='{"year": "numeric", "month": "long", "day": "numeric"}'></appsco-date-format>
                                </td>
                                <td>
                                    {{ _getParameter(ev, 'action') }}
                                </td>
                            </tr>
                        </template>
                    </table>
                </div>

                <div class="list-actions">
                    <paper-button class="resolve-action"
                                  on-tap="_onResolveSelectedAction">Mark as resolved</paper-button>
                </div>
            </div>
        </iron-collapse>

    </template>

    <script>
        Polymer({

            is: 'appsco-access-on-boarding-roles-item',

            properties: {

                authorizationToken: {
                    type: String,
                    value: ''
                },

                screen800: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

                eventTypesList: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                _headers: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _eventsVisible: {
                    type: Boolean,
                    value: false
                },

                _resolveRequests: {
                    type: Number,
                    value: 0
                },

                _resolvedEvents: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                _unresolvedEvents: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },

                _loader: {
                    type: Boolean,
                    value: false
                },

                _error: {
                    type: String
                }
            },

            behaviors: [
                Polymer.NeonAnimationRunnerBehavior,
                Polymer.AppscoListItemBehavior
            ],

            observers: [
                '_updateScreen(screen800)'
            ],

            _computeHeaders: function(authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken
                }
            },

            _updateScreen: function() {
                this.updateStyles();
            },

            _showLoader: function() {
                this._loader = true;
            },

            _hideLoader: function() {
                this._loader = false;
            },

            _showError: function(message) {
                this._error = message;
            },

            _hideError: function() {
                this._error = '';
            },
            
            _onShowEvents: function() {
                this.$.events.show();
                this._eventsVisible = true;
            },

            _onHideEvents: function() {
                this.$.events.hide();
                this._eventsVisible = false;
            },

            _isUnresolvedEvent: function(item) {
                item.selected = item.selected ? item.selected : false;

                return ('unresolved' === item.status);
            },

            _getParameter: function(item, parameter) {
                var eventTypes = this.eventTypesList;

                for (var i = 0; i < eventTypes.length; i++) {
                    var eventType = eventTypes[i];

                    if (eventType.name == item.event_type) {
                        return eventType[parameter];
                    }
                }

                return '';
            },

            _removeItemIfNoUnresolvedEvents: function() {

                if (0 === this.item.access_onboardings.length) {

                    this.fire('remove-item', {
                        item: this.item
                    });
                }
            },

            _onResolveEventsFinished: function() {

                if (0 < this._resolvedEvents.length) {

                    /**
                     * Fired when events have been resolved.
                     *
                     * @event access-on-boarding-events-resolved
                     */
                    this.fire('access-on-boarding-events-resolved', {
                        resolvedItems: this._resolvedEvents,
                        unresolvedItems: this._unresolvedEvents
                    });
                }
                else {
                    this._showError('There was an error while resolving events. Please try again. If error continues contact AppsCo support.');
                }

                this.set('_resolvedEvents', []);
                this.set('_unresolvedEvents', []);
                this._hideLoader();
                this._removeItemIfNoUnresolvedEvents();
            },

            _resolveEvent: function(item) {

                return new Promise(function(resolve, reject) {
                    var request = document.createElement('iron-request'),
                        options = {
                            url: item.meta.resolve,
                            method: 'PUT',
                            handleAs: 'json',
                            headers: this._headers
                        };

                    request.send(options).then(function() {

                        if (200 == request.status) {
                            resolve(request.response);
                        }

                    }.bind(this), function() {

                        if (404 === request.status) {
                            reject(item);
                        }
                    }.bind(this));
                }.bind(this));
            },

            _removeResolvedEvent: function(item) {
                var events = this.item.access_onboardings,
                    eventsClone = JSON.parse(JSON.stringify(this.item.access_onboardings));

                events.forEach(function(ev, i) {
                    if (item.self === ev.self) {
                        eventsClone.splice(i, 1);
                    }
                }.bind(this));

                this.set('item.access_onboardings', []);
                this.set('item.access_onboardings', eventsClone);
            },

            _onResolveSelectedAction: function() {
                var resolveList = this.item.access_onboardings.filter(function(el) {
                   return el.selected;
                }),
                    length = resolveList.length;

                if (0 === length) {
                    this._showError('Please select at least one event to resolve.');
                    return false;
                }

                this._resolveRequests = length;

                this._showLoader();
                this._hideError();

                for (var i = 0; i < length; i++) {
                    var item = resolveList[i];

                    (function(me) {

                        me._resolveEvent(item).then(function(item) {
                            me.push('_resolvedEvents', item);
                            me._removeResolvedEvent(item);
                            me._resolveRequests--;

                            if (me._resolveRequests === 0) {
                                me._onResolveEventsFinished();
                            }
                        }.bind(me), function(item) {
                            me.push('_unresolvedEvents', item);
                            me._resolveRequests--;

                            if (me._resolveRequests === 0) {
                                me._onResolveEventsFinished();
                            }
                        }.bind(me));

                    })(this);
                }
            }
        });
    </script>
</dom-module>