<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-up-animation.html">

<link rel="import" href="../components/appsco-loader.html">
<link rel="import" href="../components/appsco-form-error.html">

<link rel="import" href="../../lib/mixins/appsco-headers-mixin.html">

<!--
`appsco-convert-contact`
Shows dialog screen with confirmation for contact converting.

    <appsco-convert-contact contact="{}"
                           authorization-token=""
                           api-errors="{}">
    </appsco-convert-contact>

-->

<dom-module id="appsco-convert-contact">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                @apply --appsco-convert-contact;

                --form-error-box: {
                    margin-top: 0;
                };
            }
            :host paper-dialog {
                width: 670px;
                top: 20vh;
                @apply --appsco-paper-dialog;
            }
            :host paper-dialog-scrollable > * {
                @apply --paper-dialog-scrollable-child;
            }
            :host .buttons paper-button {
                @apply --paper-dialog-button;
            }
            :host .buttons paper-button[dialog-dismiss] {
                @apply --paper-dialog-dismiss-button;
            }
            :host appsco-loader {
                @apply --paper-dialog-appsco-loader;
            }
        </style>
        <paper-dialog
                id="dialog"
                entry-animation="scale-up-animation"
                exit-animation="fade-out-animation"
                on-iron-overlay-closed="_onDialogClosed">

            <h2>Convert [[ contact.display_name ]] to company user</h2>

            <appsco-loader active="[[ _loader ]]" loader-alt="Appsco is processing request" multi-color></appsco-loader>

            <paper-dialog-scrollable>
                <div class="convert-container">
                    <appsco-form-error message="[[ _errorMessage ]]"></appsco-form-error>
                    <p>Please confirm contact to company user conversion.</p>
                </div>
            </paper-dialog-scrollable>

            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button autofocus on-tap="_onConvertAction">Convert</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        class AppscoConvertContact extends Polymer.mixinBehaviors([Appsco.HeadersMixin], Polymer.Element) {
            static get is() { return 'appsco-convert-contact'; }

            static get properties() {
                return {
                    /**
                     * Contact to convert.
                     */
                    contact: {
                        type: Array,
                        value: function () {
                            return {};
                        }
                    },

                    apiErrors: {
                        type: Object,
                        value: function () {
                            return {};
                        }
                    },

                    _convertContactApi: {
                        type: String,
                        computed: '_computeConvertContactApi(contact)'
                    },

                    _loader: {
                        type: Boolean,
                        value: false
                    },

                    _errorMessage: {
                        type: String
                    }
                };
            }

            setContact(contact) {
                this.contact = contact;
            }

            open() {
                this.$.dialog.open();
            }

            close() {
                this.$.dialog.close();
            }

            toggle() {
                this.$.dialog.toggle();
            }

            _computeConvertContactApi(contact) {
                return contact.meta ? contact.meta.promote_to_user : null;
            }

            _showLoader() {
                this._loader = true;
            }

            _hideLoader() {
                this._loader = false;
            }

            _showError(message) {
                this._errorMessage = message;
            }

            _hideError() {
                this._errorMessage = '';
            }

            _onDialogClosed() {
                this._hideError();
                this._hideLoader();
            }

            _onConvertAction() {
                const request = document.createElement('iron-request'),
                    options = {
                        url: this._convertContactApi,
                        method: 'POST',
                        handleAs: 'json',
                        headers: this._headers
                    };

                this._showLoader();

                request.send(options).then(function() {
                    this.close();

                    if (200 === request.status) {
                        this.dispatchEvent(new CustomEvent('contact-converted', {
                            bubbles: true,
                            composed: true,
                            detail: {
                                contact: request.response
                            }
                        }));
                    }
                }.bind(this), function() {
                    this._showError(this.apiErrors.getError(request.response.code));
                    this._hideLoader();
                }.bind(this));
            }
        }
        window.customElements.define(AppscoConvertContact.is, AppscoConvertContact);
    </script>
</dom-module>
