<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>appsco-orgunit demo</title>

    <script src="../../../../../../@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>

    <script type="module" src="../../../../../../@polymer/iron-demo-helpers/demo-pages-shared-styles.js"></script>
    <script type="module" src="../../../../../../@polymer/iron-demo-helpers/demo-snippet.js"></script>
    <script type="module" src="../../../../../../@polymer/paper-toast/paper-toast.js"></script>

    <script type="module" src="../appsco-orgunit-tree.js"></script>

    <!-- FIXME(polymer-modulizer):
        These imperative modules that innerHTML your HTML are
        a hacky way to be sure that any mixins in included style
        modules are ready before any elements that reference them are
        instantiated, otherwise the CSS @apply mixin polyfill won't be
        able to expand the underlying CSS custom properties.
        See: https://github.com/Polymer/polymer-modulizer/issues/154
        -->
    <script type="module">
const $_documentContainer = document.createElement('template');

$_documentContainer.innerHTML = `<custom-style>
        <style include="demo-pages-shared-styles">
          html {
              --appsco-orgunit-item-selected: {
                  background-color: #728bff;
              }
          }
        </style>
    </custom-style>`;

document.body.appendChild($_documentContainer.content);
</script>
</head>
<body>
<script type="module">
const $_documentContainer = document.createElement('template');

$_documentContainer.innerHTML = `<div class="vertical-section-container centered">
    <h3>Organization unit tree presentation</h3>
    <demo-snippet>
        <template>
            <appsco-orgunit-tree id="orgunits" org-units="
                        [
                            {&quot;name&quot;:&quot;appsco.com&quot;,&quot;alias&quot;:1,&quot;description&quot;:null,&quot;parent&quot;:&quot;&quot;,&quot;self&quot;:&quot;http:\\/\\/appsco.loc\\/app_dev.php\\/api\\/v2\\/companies\\/2\\/org-units\\/1&quot;},
                            {&quot;name&quot;:&quot;Developers&quot;,&quot;alias&quot;:2,&quot;description&quot;:null,&quot;parent&quot;:&quot;http:\\/\\/appsco.loc\\/app_dev.php\\/api\\/v2\\/companies\\/2\\/org-units\\/1&quot;,&quot;self&quot;:&quot;http:\\/\\/appsco.loc\\/app_dev.php\\/api\\/v2\\/companies\\/2\\/org-units\\/2&quot;},
                            {&quot;name&quot;:&quot;Marketing&quot;,&quot;alias&quot;:3,&quot;description&quot;:null,&quot;parent&quot;:&quot;http:\\/\\/appsco.loc\\/app_dev.php\\/api\\/v2\\/companies\\/2\\/org-units\\/1&quot;,&quot;self&quot;:&quot;http:\\/\\/appsco.loc\\/app_dev.php\\/api\\/v2\\/companies\\/2\\/org-units\\/3&quot;},
                            {&quot;name&quot;:&quot;Sub Org&quot;,&quot;alias&quot;:4,&quot;description&quot;:null,&quot;parent&quot;:&quot;http:\\/\\/appsco.loc\\/app_dev.php\\/api\\/v2\\/companies\\/2\\/org-units\\/2&quot;,&quot;self&quot;:&quot;http:\\/\\/appsco.loc\\/app_dev.php\\/api\\/v2\\/companies\\/2\\/org-units\\/4&quot;},
                            {&quot;name&quot;:&quot;Sub Org 2&quot;,&quot;alias&quot;:5,&quot;description&quot;:null,&quot;parent&quot;:&quot;http:\\/\\/appsco.loc\\/app_dev.php\\/api\\/v2\\/companies\\/2\\/org-units\\/2&quot;,&quot;self&quot;:&quot;http:\\/\\/appsco.loc\\/app_dev.php\\/api\\/v2\\/companies\\/2\\/org-units\\/5&quot;},
                            {&quot;name&quot;:&quot;Sub Org 3&quot;,&quot;alias&quot;:6,&quot;description&quot;:null,&quot;parent&quot;:&quot;http:\\/\\/appsco.loc\\/app_dev.php\\/api\\/v2\\/companies\\/2\\/org-units\\/4&quot;,&quot;self&quot;:&quot;http:\\/\\/appsco.loc\\/app_dev.php\\/api\\/v2\\/companies\\/2\\/org-units\\/6&quot;},
                            {&quot;name&quot;:&quot;Sub Org&quot;,&quot;alias&quot;:7,&quot;description&quot;:null,&quot;parent&quot;:&quot;http:\\/\\/appsco.loc\\/app_dev.php\\/api\\/v2\\/companies\\/2\\/org-units\\/3&quot;,&quot;self&quot;:&quot;http:\\/\\/appsco.loc\\/app_dev.php\\/api\\/v2\\/companies\\/2\\/org-units\\/7&quot;}
                        ]
                    "></appsco-orgunit-tree>
            <paper-toast id="toast"></paper-toast>
            <script>
                var me = this;
                setTimeout(function(){
                    me.orgunits.push('orgUnits', {"name":"Developers","alias":8,"description":null,"parent":"http:\\/\\/appsco.loc\\/app_dev.php\\/api\\/v2\\/companies\\/2\\/org-units\\/1","self":"http:\\/\\/appsco.loc\\/app_dev.php\\/api\\/v2\\/companies\\/2\\/org-units\\/8"});
                    me.toast.text = 'Added new organization';
                    me.toast.show();
                }, 2000);

                this.orgunits.addEventListener('add', function(e){
                    var orgUnit = e.detail.orgUnit;
                    me.toast.text = 'Added sub organization event for ' + orgUnit.name;
                    me.toast.show();
                });
                this.orgunits.addEventListener('modify', function(e){
                    var orgUnit = e.detail.orgUnit;
                    me.toast.text = 'Modify organization ' + orgUnit.name;
                    me.toast.show();
                });
                this.orgunits.addEventListener('delete', function(e){
                    var orgUnit = e.detail.orgUnit;
                    me.toast.text = 'Delete organization ' + orgUnit.name;
                    me.toast.show();
                });
                this.orgunits.addEventListener('node-selected', function(e){
                    var orgUnit = e.detail.orgUnit;
                    var selectedNodes = "";
                    me.orgunits.selectedNodes().forEach(function(item) {
                        selectedNodes += " " + item.name;
                    });
                    me.toast.text = 'Currently selected node ' + orgUnit.name + " [ " + selectedNodes + " ]";
                    me.toast.show();
                });
            &lt;/script>
        </template>
    </demo-snippet>
</div>`;

document.body.appendChild($_documentContainer.content);
</script>