<link rel="import" href="../../../bower_components/polymer/polymer.html">

<!--
`appsco-date-format`

Date format

@demo demo/index.html 
-->

<dom-module id="appsco-date-format">
    <template>
        <style>
            :host {
                display: inline-block;
            }
        </style>
        [[ dateFormatted ]]
    </template>

    <script>
        class AppscoDateFormat extends Polymer.Element {
            static get is() { return 'appsco-date-format'; }

            static get properties() {
                return {
                    date: {
                        type: Object,
                        value: function () {
                            return {};
                        },
                        notify: true
                    },

                    options: {
                        type: Object,
                        value: function () {
                            return {year: "numeric", month: "short", day: "numeric"};
                        }
                    },

                    dateFormatted: {
                        type: String,
                        computed: '_dateFormat(date, options)'
                    }
                };
            }

            /**
             * Formats date and returns formatted date as string.
             *
             * @returns {string}
             * @private
             */
            _dateFormat(value, options) {
                if (value) {
                    return (new Date(value)).toLocaleDateString('en', options);
                }
            }
        }
        window.customElements.define(AppscoDateFormat.is, AppscoDateFormat);
    </script>
</dom-module>
