<link rel="import" href="../../../bower_components/polymer/polymer.html">

<!--
`appsco-price`

Price format

@demo demo/index.html 
-->

<dom-module id="appsco-price">
    <template>
        <style>
            :host {
                display: inline-block;
            }
        </style>
        [[ priceFormatted ]]
    </template>

    <script>
        class AppscoPrice extends Polymer.Element {
            static get is() { return 'appsco-price'; }

            static get properties() {
                return {
                    price: {
                        type: Number
                    },

                    currency: {
                        type: String
                    },

                    priceFormatted: {
                        type: String,
                        computed: '_priceFormat(price, currency)'
                    }
                };
            }

            /**
             * Formats price and currency
             *
             * @returns {string}
             * @private
             */
            _priceFormat(price, currrency) {
                if (price) {
                    return (price/100).toFixed(2) + " " + currrency;
                }

                return "";
            }
        }
        window.customElements.define(AppscoPrice.is, AppscoPrice);
    </script>
</dom-module>
