<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-request.html">

<link rel="import" href="../header/appsco-dropdown.html">
<link rel="import" href="../components/appsco-loader.html">

<dom-module id="appsco-page-config-dropdown">
    <template>
        <style include="iron-flex iron-flex-alignment">
            :host {
                display: inline-block;
                position: relative;
                color: var(--primary-text-color);

                --paper-card-content: {
                    @apply(--layout-flex-vertical);
                    padding: 10px;
                    font-size: 14px;
                };
                --paper-card-actions: {
                    padding: 6px 0;
                    border-color: #ffffff;
                    font-size: 12px;
                };
                --paper-input-container-label-focus: {
                    left: 0px;
                };
                --paper-dropdown-menu-button: {
                    background-color: white;
                };
            }

            :host h1 {
                font-weight: normal;
                font-size: 18px;
            }

            :host paper-toggle-button {
                cursor: pointer;
            }

            :host paper-dropdown-menu {
                width: 100%;

                --paper-input-container-underline: {
                    display: none;
                };
                --paper-input-container-underline-focus: {
                    display: none;
                };
                --paper-dropdown-menu-ripple: {
                    display: none;
                };
                --paper-input-container-input: {
                    vertical-align: middle;
                    cursor: pointer;
                    @apply(--application-actions-paper-dropdown-menu-input);
                };
            }

            :host appsco-dropdown {
                top: 12px;
                right: -20px;

            }

            :host paper-card {
                @apply(--layout-flex-vertical);
                width: 100%;
                background-color: white;
            }
            
            .input-container-show-resource-section paper-dropdown-menu {
                width: 100%;
            }

            .input-container-show-resource-section {
                margin-top: 30px;
                margin-bottom: 10px;
            }
        </style>

        <appsco-dropdown
                id="pageSettingsDropdown"
                trigger="[[ _triggerDropdown ]]">

            <paper-card class="layout vertical">

                <div class="card-content">
                    <h1>Page settings</h1>

                    <appsco-loader active="[[ _loader ]]"
                                   loader-alt="AppsCo is processing request"
                                   multi-color></appsco-loader>

                    <template is="dom-if" if="[[ optionHideResourceSection ]]">
                        <div class="input-container input-container-show-resource-section">
                            <paper-toggle-button id="hideResourceSectionToggle"
                                                 name="hide_resource_section"
                                                 data-field
                                                 on-tap="_onSaveChanges"
                                                 checked$="[[ _hideResourceSection ]]">Hide groups section
                            </paper-toggle-button>
                            <p class="info">
                                Resource section will not be displayed by default when this option is turned on.
                            </p>
                        </div>
                    </template>

                    <template is="dom-if" if="[[ optionDisplayList ]]">
                        <div class="input-container">
                            <paper-dropdown-menu id="dropDownPageDisplay"
                                                 name="display_style"
                                                 label="Resources view"
                                                 horizontal-align="left"
                                                 data-field="choice">
                                <paper-listbox id="paperListboxPageDisplay"
                                               class="dropdown-content filter"
                                               attr-for-selected="value"
                                               selected="{{ _displayKind }}"
                                >
                                    <template is="dom-repeat" items="[[ _displayKindList ]]">
                                        <paper-item value="[[ item.value ]]" on-tap="_onSaveChanges">[[ item.name ]]</paper-item>
                                    </template>
                                </paper-listbox>
                            </paper-dropdown-menu>
                            <p class="info">
                                Choose how the resources card will be displayed on the page.
                            </p>
                        </div>
                    </template>

                    <template is="dom-if" if="[[ optionSort ]]">
                        <div class="input-container">
                            <paper-dropdown-menu id="dropDownSortOptions"
                                                 label="Sort resources by"
                                                 horizontal-align="left"
                                                 data-field="sort">
                                <paper-listbox id="paperListboxSortOptions"
                                               class="dropdown-content filter"
                                               attr-for-selected="value"
                                               selected="{{ _sortOption }}">
                                    <template is="dom-repeat" items="[[ _sortOptionList ]]">
                                        <paper-item value="[[ item.value ]]"
                                                    sort-field="[[ item.sortField ]]"
                                                    sort-ascending="[[ item.sortAscending ]]"
                                                    on-tap="_onSaveChanges">[[ item.name ]]</paper-item>
                                    </template>
                                </paper-listbox>
                            </paper-dropdown-menu>
                        </div>
                    </template>
                </div>
            </paper-card>
        </appsco-dropdown>

    </template>

    <script>
        Polymer({

            is: 'appsco-page-config-dropdown',

            properties: {

                authorizationToken: {
                    type: String,
                    value: ''
                },

                apiErrors: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                pageConfigApi: {
                    type: String
                },

                page: {
                    type: String,
                    value: ''
                },

                pageConfig: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                optionHideResourceSection: {
                    type: Boolean,
                    value: false
                },

                optionDisplayList: {
                    type: Boolean,
                    value: false
                },

                optionSort: {
                    type: Boolean,
                    value: false
                },

                _displayKindList: {
                    type: Array,
                    value: function() {
                        return [
                            {value: 'list', name: 'List'},
                            {value: 'grid', name: 'Grid'}
                        ];
                    }
                },

                _sortOptionList: {
                    type: Array,
                    value: function() {
                        return [
                            {
                                value: 'created0',
                                name: 'Newest to oldest',
                                sortField: 'created',
                                sortAscending: false
                            },
                            {
                                value: 'created1',
                                name: 'Oldest to newest',
                                sortField: 'created',
                                sortAscending: true
                            },
                            {
                                value: 'title1',
                                name: 'A to Z',
                                sortField: 'title',
                                sortAscending: true
                            },
                            {
                                value: 'title0',
                                name: 'Z to A',
                                sortField: 'title',
                                sortAscending: false
                            }
                        ];
                    }
                },

                /**
                 * DOM element which triggers the dropdown.
                 */
                _triggerDropdown: {
                    type: Object,
                    notify: true
                },

                _loader: {
                    type: Boolean,
                    value: false
                },

                _headers: {
                    type: Object,
                    computed: '_computeHeaders(authorizationToken)'
                },

                _hideResourceSection: {
                    type: Boolean,
                    computed: '_computeHideResourceSection(pageConfig, page)'
                },

                _displayKind: {
                    type: Boolean,
                    computed: '_computeDisplayKind(pageConfig, page)'
                },

                _sortOption: {
                    type: String,
                    computed: '_computeSortOption(pageConfig, page)'
                }
            },

            attached: function() {
                this._triggerDropdown = this.$$('#dropdownActions');
            },

            toggle: function(target) {
                this._triggerDropdown = target;
                this.$.pageSettingsDropdown.toggle();
            },

            _computeHeaders: function (authorizationToken) {
                return {
                    'Authorization': 'token ' + authorizationToken,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            },

            _computeHideResourceSection: function(pageConfig, page) {
                return pageConfig[page] ? !!pageConfig[page].hide_resource_section : false;
            },

            _computeDisplayKind: function(pageConfig, page) {
                return pageConfig[page] ? pageConfig[page].display_style : 'list';
            },

            _computeSortOption: function(pageConfig, page) {
                return pageConfig[page] ?
                    (pageConfig[page].sort_field + (pageConfig[page].sort_ascending ? 1 : 0)) :
                    (this._sortOptionList ? this._sortOptionList[0].value : '');
            },

            _showLoader: function() {
                this._loader = true;
            },

            _hideLoader: function() {
                this._loader = false;
            },

            _saveChanges: function(settings) {
                var request = document.createElement('iron-request'),
                    options = {
                        url: this.pageConfigApi,
                        method: 'PUT',
                        handleAs: 'json',
                        headers: this._headers
                    },
                    body = 'page_config[page]=' + encodeURIComponent(this.page);

                for (var key in settings) {
                    body += ('&page_config[' + key +']=' +
                    (('boolean' === typeof settings[key]) ?
                        (settings[key] ? 1 : 0) :
                        encodeURIComponent(settings[key])));
                }

                options.body = body;

                request.send(options).then(function(request) {

                    if (200 === request.status) {
                        var pageConfig = request.response;

                        this.set('pageConfig', pageConfig);
                        this.fire('page-settings-changed', {
                            page: this.page,
                            pageConfig: pageConfig
                        });

                        this._hideLoader();
                    }
                }.bind(this), function() {

                   this.fire('notify-about-error', {
                       message: this.apiErrors.getError(request.response.code)
                   });

                   this._hideLoader();
                }.bind(this));
            },

            _onSaveChanges: function() {
                var settings = {};

                this._showLoader();

                setTimeout(function() {

                    Polymer.dom(this.root).querySelectorAll('[data-field]').forEach(function(field) {

                        if ('choice' === field.getAttribute('data-field') && field.selectedItem) {
                            settings[field.name] = field.selectedItem.value;
                        }
                        else if ('sort' === field.getAttribute('data-field') && field.selectedItem) {
                            settings['sort_field'] = field.selectedItem.sortField;
                            settings['sort_ascending'] = field.selectedItem.sortAscending;
                        }
                        else if ('undefined' !== typeof field.checked) {
                            settings[field.name] = field.checked;
                        }
                        else if (field.value) {
                            settings[field.name] = field.value;
                        }
                    }.bind(this));

                    this._saveChanges(settings);
                }.bind(this), 30);
            }

        });
    </script>
</dom-module>
