<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../../shared-styles.html">
<link rel="import" href="../../webkit-scrollbar-style.html">
<link rel="import" href="appsco-page-styles.html">

<dom-module id="appsco-manage-page-styles">
    <template>
        <style include="appsco-page-styles">
            :host {
                --resource-width: 300px;
            }
            :host div[resource] {
                padding: 10px;
                height: calc(100% - 20px);
            }
            :host div[resource] > .resource-header {
                height: auto;
                line-height: normal;
                padding: 20px 10px 30px;
                position: relative;
            }
            :host div[resource] > .resource-content, :host .content-container {
                padding: 0;
            }
            :host div[resource] > .resource-content {
                padding-top: 10px;
            }
            :host div[resource] > .resource-content > * {
                margin: 4px 0;
            }
            :host div[resource] > .resource-content p {
                margin: 0;
            }
            :host div[content] {
                height: 100%;
            }
            :host .content-container, :host .content-container neon-animated-pages {
                height: 100%;
            }
            appsco-account-image-settings {
                display: block;
            }
            :host([medium-screen]) {
                --resource-width: 240px;
            }
            :host([mobile-screen]) {
                --resource-width: 180px;
            }
        </style>
    </template>
</dom-module>