<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-up-animation.html">

<link rel="import" href="../components/appsco-loader.html">
<link rel="import" href="../components/appsco-form-error.html">

<link rel="import" href="../../lib/mixins/appsco-headers-mixin.html">

<dom-module id="appsco-change-policy-status">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                @apply --appsco-change-policy-status;

                --form-error-box: {
                    margin-top: 0;
                };
            }
            :host paper-dialog {
                width: 670px;
                top: 20vh;
                @apply --appsco-paper-dialog;
            }
            :host .title::first-letter {
                text-transform: uppercase;
            }
            :host paper-dialog-scrollable > * {
                @apply --paper-dialog-scrollable-child;
            }
            :host .buttons paper-button {
                @apply --paper-dialog-button;
            }
            :host .buttons paper-button[dialog-dismiss] {
                @apply --paper-dialog-dismiss-button;
            }
            :host appsco-loader {
                @apply --paper-dialog-appsco-loader;
            }
        </style>
        <paper-dialog
                with-backdrop
                id="dialog"
                entry-animation="scale-up-animation"
                exit-animation="fade-out-animation"
                on-iron-overlay-closed="_onDialogClosed">

            <h2 class="title">[[ action ]] policy</h2>

            <appsco-loader active="[[ _loader ]]"
                           loader-alt="AppsCo is processing request"
                           multi-color></appsco-loader>

            <paper-dialog-scrollable>
                <div class="dialog-container">
                    <appsco-form-error message="[[ _error ]]"></appsco-form-error>
                    <p>You are about to [[ action ]] the [[ policy.name ]] policy. Please confirm this action.</p>
                </div>
            </paper-dialog-scrollable>

            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button autofocus on-tap="_onConfirmAction">Confirm</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        class AppscoChangePolicyStatus extends Polymer.mixinBehaviors([Appsco.HeadersMixin], Polymer.Element) {
            static get is() { return 'appsco-change-policy-status'; }

            static get properties() {
                return {
                    policy: {
                        type: Object,
                        value: function () {
                            return {};
                        }
                    },

                    action: {
                        type: String,
                        value: ''
                    },

                    apiErrors: {
                        type: Object,
                        value: function () {
                            return {};
                        }
                    },

                    _confirmActionApi: {
                        type: String,
                        computed: '_computeConfirmActionApi(policy, action)'
                    },

                    _loader: {
                        type: Boolean,
                        value: false
                    },

                    _error: {
                        type: String
                    }
                };
            }

            setPolicy(policy) {
                this.policy = policy;
            }

            setAction(action) {
                this.action = action;
            }

            open() {
                this.$.dialog.open();
            }

            close() {
                this.$.dialog.close();
            }

            toggle() {
                this.$.dialog.toggle();
            }

            _computeConfirmActionApi(policy, action) {
                return policy.meta ?
                    (('enable' === action) ? policy.meta.activate :
                        (('disable' === action) ? policy.meta.deactivate : null)) : null;
            }

            _showLoader() {
                this._loader = true;
            }

            _hideLoader() {
                this._loader = false;
            }

            _showError(message) {
                this._error = message;
            }

            _hideError() {
                this._error = '';
            }

            _onDialogClosed() {
                this._hideError();
                this._hideLoader();
            }

            _onConfirmAction() {
                if (!this._confirmActionApi || !this._headers) {
                    this._showError(this.apiErrors.getError(404));
                    return false;
                }

                const request = document.createElement('iron-request'),
                    options = {
                        url: this._confirmActionApi,
                        method: 'PUT',
                        handleAs: 'json',
                        headers: this._headers
                    };

                this._showLoader();

                request.send(options).then(function() {
                    if (200 === request.status) {
                        this.dispatchEvent(new CustomEvent('policy-status-changed', {
                            bubbles: true,
                            composed: true,
                            detail: {
                                policy: request.response
                            }
                        }));

                        this.close();
                    }

                }.bind(this), function() {
                    this._showError(this.apiErrors.getError(request.response.code));
                    this._hideLoader();
                }.bind(this));
            }
        }
        window.customElements.define(AppscoChangePolicyStatus.is, AppscoChangePolicyStatus);
    </script>
</dom-module>
