<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">

<link rel="import" href="appsco-ip-whitelist-policy-settings.html">
<link rel="import" href="appsco-enforce-two-factor-policy-settings.html">
<link rel="import" href="appsco-login-time-restriction-policy-settings.html">

<dom-module id="appsco-policy-settings">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                padding: 4px;
                @apply(--appsco-policy-settings);
            }
            :host .info {
                @apply(--info-message);
            }
        </style>

        <template is="dom-if" if="[[ !_customSettings ]]">
            <p class="info">There are no additional settings for this policy.</p>
        </template>

        <template is="dom-if" if="[[ _ipWhitelistPolicyActive ]]">
            <appsco-ip-whitelist-policy-settings policy="[[ policy ]]"
                                                 authorization-token="[[ authorizationToken ]]"
                                                 api-errors="[[ apiErrors ]]"></appsco-ip-whitelist-policy-settings>
        </template>

        <template is="dom-if" if="[[ _enforceTwoFactoryPolicyActive ]]">
            <appsco-enforce-two-factor-policy-settings policy="[[ policy ]]"
                                                 authorization-token="[[ authorizationToken ]]"
                                                 api-errors="[[ apiErrors ]]"></appsco-enforce-two-factor-policy-settings>
        </template>

        <template is="dom-if" if="[[ _loginTimeRestrictionPolicyActive ]]">
            <appsco-login-time-restriction-policy-settings policy="[[ policy ]]"
                                                 authorization-token="[[ authorizationToken ]]"
                                                 api-errors="[[ apiErrors ]]"></appsco-login-time-restriction-policy-settings>
        </template>

    </template>

    <script>
        Polymer({

            is: 'appsco-policy-settings',

            properties: {

                policy: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                authorizationToken: {
                    type: String,
                    value: ''
                },

                apiErrors: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },

                _ipWhitelistPolicyActive: {
                    type: Boolean,
                    computed: '_computeIpWhitelistPolicyActive(policy)'
                },

                _enforceTwoFactoryPolicyActive: {
                    type: Boolean,
                    computed: '_computeEnforceTwoFactoryPolicyActive(policy)'
                },

                _loginTimeRestrictionPolicyActive: {
                    type: Boolean,
                    computed: '_computeLoginTimeRestrictionPolicyActive(policy)'
                },

                _customSettings: {
                    type: Boolean,
                    computed: '_computeHasCustomSettings(_ipWhitelistPolicyActive, _enforceTwoFactoryPolicyActive)'
                }
            },

            _computeIpWhitelistPolicyActive: function(policy) {
                return (policy.name && 'ip whitelist' === policy.name.toLowerCase());
            },

            _computeEnforceTwoFactoryPolicyActive: function(policy) {
                return (policy.name && 'enforce two-factor' === policy.name.toLowerCase());
            },

            _computeLoginTimeRestrictionPolicyActive: function(policy) {
                return (policy.name && 'login time restriction' === policy.name.toLowerCase());
            },

            _computeHasCustomSettings: function(_ipWhitelistPolicyActive, _enforceTwoFactoryPolicyActive) {
                return _ipWhitelistPolicyActive || _enforceTwoFactoryPolicyActive;
            }
        });
    </script>
</dom-module>
