<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="../components/appsco-list-item-behavior.html">
<link rel="import" href="../components/appsco-list-item-styles.html">
<link rel="import" href="../account/appsco-account-image.html">

<link rel="import" href="../../lib/mixins/appsco-headers-mixin.html">

<dom-module id="appsco-policy-item">
    <template>
        <style include="appsco-list-item-styles">
            :host .policy-icon-container {
                width: 52px;
                height: 52px;
                margin: 0;
                border-radius: 26px;
                background-color: var(--policy-icon-background-color, var(--account-initials-background-color));
                position: relative;
            }
            :host .policy-icon {
                width: 24px;
                height: 24px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;

                --iron-icon-fill-color: var(--primary-text-color, #ffffff);
            }
            :host([policy-active]) .policy-icon-container {
                background-color: var(--google-yellow-300);
            }
            :host([policy-active]) .policy-icon-container .policy-icon {
                color: #ffffff;
            }
            :host([policy-active][policy-configured]) .policy-icon-container {
                background-color: var(--success-color);
            }
        </style>

        <iron-media-query query="(max-width: 600px)" query-matches="{{ mobileScreen }}"></iron-media-query>

        <iron-ajax id="getPartnerAdminsApiRequest"
                   url="[[ _partnerAdminsApiUrl ]]"
                   headers="[[ _headers ]]"
                   auto
                   on-error="_onPartnerAdminsError"
                   on-response="_onPartnerAdminsResponse"></iron-ajax>

        <iron-ajax id="getLicencesApiRequest"
                   url="[[ _licencesApiUrl ]]"
                   headers="[[ _headers ]]"
                   auto
                   on-error="_onLicencesError"
                   on-response="_onLicencesResponse"></iron-ajax>

        <div class="item">

            <template is="dom-if" if="[[ selectable ]]">
                <div class="select-action"
                     on-tap="_onSelectItemAction">

                    <div class="policy-icon-container">
                        <iron-icon class="policy-icon"
                                   icon="[[ _icon ]]"></iron-icon>
                    </div>

                    <div class="icon-action">
                        <div class="iron-action-inner">
                            <iron-icon icon="icons:check"></iron-icon>
                        </div>
                    </div>
                </div>
            </template>

            <template is="dom-if" if="[[ !selectable ]]">
                <div class="policy-icon-container">
                    <iron-icon class="policy-icon"
                               icon="[[ _icon ]]"></iron-icon>
                </div>
            </template>

            <div class="item-info item-basic-info">
                <span class="info-label">[[ item.name ]]</span>
                <span class="info-value">[[ item.type ]]</span>
            </div>

            <div class="actions">
                <template is="dom-if" if="[[ policyActive ]]">
                    <paper-button on-tap="_onDisableItemAction">Disable</paper-button>
                </template>

                <template is="dom-if" if="[[ !policyActive ]]">
                    <paper-button on-tap="_onEnableItemAction">Enable</paper-button>
                </template>
            </div>
        </div>

    </template>

    <script>
        class AppscoPolicyItem extends Polymer.mixinBehaviors([
            Polymer.NeonAnimationRunnerBehavior,
            Polymer.AppscoListItemBehavior,
            Appsco.HeadersMixin
        ], Polymer.Element) {
            static get is() { return 'appsco-policy-item'; }

            static get properties() {
                return {
                    policyActive: {
                        type: Boolean,
                        computed: '_computeActiveStatus(item)',
                        reflectToAttribute: true
                    },

                    policyConfigured: {
                        type: Boolean,
                        computed: '_computeConfiguredStatus(item, policyActive)',
                        reflectToAttribute: true
                    },

                    _icon: {
                        type: String,
                        computed: '_computeIcon(policyActive)'
                    },

                    mobileScreen: {
                        type: Boolean,
                        value: false,
                        reflectToAttribute: true
                    }
                };
            }

            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function () {
                    this._addListeners();
                });
            }

            _addListeners() {
                this.addEventListener('tap', this._onItemAction);
            }

            _computeActiveStatus(policy) {
                return ('active' === policy.status);
            }

            _computeConfiguredStatus(policy, policyActive) {
                return (policyActive && !policy.missing_config);
            }

            _computeIcon(active) {
                return (active ? 'icons:check' : 'icons:clear');
            }

            _onEnableItemAction(event) {
                event.stopPropagation();

                this.dispatchEvent(new CustomEvent('enable-policy', {
                    bubbles: true,
                    composed: true,
                    detail: {
                        policy: this.item
                    }
                }));
            }

            _onDisableItemAction(event) {
                event.stopPropagation();

                this.dispatchEvent(new CustomEvent('disable-policy', {
                    bubbles: true,
                    composed: true,
                    detail: {
                        policy: this.item
                    }
                }));
            }
        }
        window.customElements.define(AppscoPolicyItem.is, AppscoPolicyItem);
    </script>
</dom-module>
