<!doctype html>
<html>
<head>
    <title>appsco-account-image-settings demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../../../../../@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>

    <script type="module" src="../../../../../../@polymer/iron-demo-helpers/demo-pages-shared-styles.js"></script>
    <script type="module" src="../../../../../../@polymer/iron-demo-helpers/demo-snippet.js"></script>

    <script type="module" src="../appsco-account-image-settings.js"></script>
    <script type="module" src="../../../../../../@polymer/iron-ajax/iron-ajax.js"></script>
    <script type="module" src="../../../../../../@polymer/paper-toast/paper-toast.js"></script>

    <!-- FIXME(polymer-modulizer):
        These imperative modules that innerHTML your HTML are
        a hacky way to be sure that any mixins in included style
        modules are ready before any elements that reference them are
        instantiated, otherwise the CSS @apply mixin polyfill won't be
        able to expand the underlying CSS custom properties.
        See: https://github.com/Polymer/polymer-modulizer/issues/154
        -->
    <script type="module">
const $_documentContainer = document.createElement('template');

$_documentContainer.innerHTML = `<custom-style>
        <style include="demo-pages-shared-styles">
            html {
                --appsco-account-image-settings: {
                   display: block;
                };
            }
            :root .vertical-section-container {
                max-width: 500px;
            }
            .additional-info {
                text-align: center;
                font-style: italic;
            }
        </style>
    </custom-style>`;

document.body.appendChild($_documentContainer.content);
</script>
</head>
<body>

<script type="module">
const $_documentContainer = document.createElement('template');

$_documentContainer.innerHTML = `<div class="vertical-section-container centered">
    <h3>Basic appsco-account-image-settings Demo</h3>
    <demo-snippet>
        <template is="dom-bind">

            <paper-toast id="toast" text="Account image successfully changed."></paper-toast>

            <iron-ajax id="ironAjax" auto="" url="https://my-dev.appsco.com/api/v2/me" handle-as="json" headers="{
                        &quot;Authorization&quot;: &quot;token 1o833krv0s68osk4skckkwsgws844o480ko48wsco0k4o4kook4wnkgimtqyo0g0ko0g8wok4go40kgwgksw84wcs808wwcgg44&quot;
                    }">
            </iron-ajax>

            <appsco-account-image-settings id="appscoAccountImageSettings" account="" authorization-token="1o833krv0s68osk4skckkwsgws844o480ko48wsco0k4o4kook4wnkgimtqyo0g0ko0g8wok4go40kgwgksw84wcs808wwcgg44" image-settings-api="https://my-dev.appsco.com/api/v2/me/profile-image">

                <div class="additional-info" info="" slot="info">
                    <p>Recommended size is 96x96.</p>
                </div>

            </appsco-account-image-settings>

            <script type="text/javascript">
                ironAjax.addEventListener('response', function(event) {
                    appscoAccountImageSettings.account = event.detail.response.account;
                });

                appscoAccountImageSettings.addEventListener('image-settings-saved', function() {
                    toast.open();
                });
            &lt;/script>
        </template>
    </demo-snippet>
</div>`;

document.body.appendChild($_documentContainer.content);
</script>gs.addEventListener('image-settings-saved', function() {
    toast.open();
});
</script>
        </template>
    </demo-snippet>
</div>

</body>
</html>
