<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">

<link rel="import" href="../../components/components/appsco-loader.html">
<link rel="import" href="../../components/components/appsco-form-error.html">

<link rel="import" href="../../lib/mixins/appsco-headers-mixin.html">

<dom-module id="appsco-company-rename-group">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
            }
            :host paper-dialog {
                width: 670px;
                top: 10vh;
                @apply --appsco-paper-dialog;
            }
            :host paper-dialog-scrollable > * {
                @apply --paper-dialog-scrollable-child;
            }
            :host appsco-loader {
                margin: 0 !important;
                padding: 0 !important;
            }
            :host .buttons paper-button {
                @apply --paper-dialog-button;
            }
            :host .buttons paper-button[dialog-dismiss] {
                @apply --paper-dialog-dismiss-button;
            }

        </style>

        <paper-dialog id="dialog"
                      with-backdrop
                      entry-animation="scale-up-animation"
                      exit-animation="fade-out-animation"
                      on-iron-overlay-opened="_onDialogOpened"
                      on-iron-overlay-closed="_onDialogClosed">

            <h2>Rename group</h2>

            <appsco-loader active="[[ _loader ]]"
                           loader-alt="Appsco is processing request"
                           multi-color></appsco-loader>

            <paper-dialog-scrollable>
                <div class="dialog-container">

                    <appsco-form-error message="[[ _error ]]"></appsco-form-error>

                    <p>
                        Enter the group name and click "Rename" to rename it.
                    </p>

                    <div class="input-container">
                        <paper-input id="groupName"
                                     label="New group name"
                                     name="company_group[name]"
                                     required
                                     auto-validate
                                     error-message="Please enter group name."></paper-input>
                    </div>
                </div>
            </paper-dialog-scrollable>

            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button autofocus on-tap="_renameGroupRequest">Rename</paper-button>
            </div>
        </paper-dialog>

        <iron-a11y-keys
                        keys="enter"
                        on-keys-pressed="_onEnter">
        </iron-a11y-keys>

    </template>
    <script>
        class AppscoCompanyRenameGroup extends Polymer.mixinBehaviors([Appsco.HeadersMixin], Polymer.Element) {
            static get is() { return 'appsco-company-rename-group'; }

            static get properties() {
                return {
                    renameGroupApi: {
                        type: String,
                        computed: '_computeRenameGroupApi(group)'
                    },

                    group: {
                        type: Object,
                        value: function () {
                            return {};
                        },
                        observer: '_onGroupChanged'
                    },

                    apiErrors: {
                        type: Object,
                        value: function () {
                            return {};
                        }
                    },

                    _loader: {
                        type: Boolean,
                        value: false
                    },

                    _error: {
                        type: String
                    }
                };
            }

            open() {
                this.$.dialog.open();
            }

            close() {
                this.$.dialog.close();
            }

            toggle() {
                this.$.dialog.toggle();
            }

            _showLoader() {
                this._loader = true;
            }

            _hideLoader() {
                this._loader = false;
            }

            _showError(message) {
                this._error = message;
            }

            _hideError() {
                this._error = '';
            }

            _onDialogOpened() {
                this.$.groupName.focus();
            }

            _onDialogClosed() {
                this._hideLoader();
                this._hideError();
            }

            /**
             * Submits form on ENTER key using iron-a11y-keys component.
             *
             * @private
             */
            _onEnter() {
                this._renameGroupRequest();
            }

            _renameGroupRequest() {
                this._hideError();
                this._showLoader();

                const renameGroupRequest = document.createElement('iron-request');

                renameGroupRequest.send({
                    url: this.renameGroupApi,
                    method: 'PUT',
                    handleAs: 'json',
                    headers: this._headers,
                    body: 'company_group[name]=' + encodeURIComponent(this.$.groupName.value)
                }).then(function() {
                    this.dispatchEvent(new CustomEvent('group-renamed', {
                        bubbles: true,
                        composed: true,
                        detail: {
                            group: renameGroupRequest.response
                        }
                    }));
                    this.$.dialog.close();
                }.bind(this), function(e) {
                    this._hideLoader();
                    this._showError(this.apiErrors.getError(renameGroupRequest.response.code));
                }.bind(this));
            }

            _onFormError(event) {
                this._showError(this.apiErrors.getError(event.detail.request.response.code));
                this._hideLoader();
            }

            /**
             * Called after group has been added.
             *
             * @param {Object} event
             * @private
             */
            _onFormResponse(event) {
                this.close();

                this.dispatchEvent(new CustomEvent('group-renamed', {
                    bubbles: true,
                    composed: true,
                    detail: {
                        group: event.detail.response
                    }
                }));
            }

            _computeRenameGroupApi(group) {
                return group ? group.self : null;
            }

            _onGroupChanged(group) {
                this.$.groupName.value = group ? group.name : '';
            }

            setGroup(group) {
                this.group = group;
            }
        }
        window.customElements.define(AppscoCompanyRenameGroup.is, AppscoCompanyRenameGroup);
    </script>
</dom-module>
