<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-shared-element-animatable-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/hero-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/cascaded-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="appsco-company-group-roles.html">
<link rel="import" href="appsco-company-group-contacts.html">
<link rel="import" href="appsco-company-group-resources.html">
<link rel="import" href="../page/appsco-layout-with-cards-styles.html">

<dom-module id="appsco-manage-group-components-page">
    <template>
        <style include="appsco-layout-with-cards-styles"></style>

        <iron-media-query query="(max-width: 1200px)" query-matches="{{ mediumScreen }}"></iron-media-query>
        <iron-media-query query="(max-width: 800px)" query-matches="{{ tabletScreen }}"></iron-media-query>

        <div class="cols-layout three-cols-layout">
            <div class="col">
                <paper-card heading="Resources">
                    <div class="card-content">
                        <appsco-company-group-resources
                                id="appscoCompanyGroupResources"
                                group="[[ group ]]"
                                list-api="[[ groupResourcesApi ]]"
                                authorization-token="[[ authorizationToken ]]"
                                size="5"
                                preview></appsco-company-group-resources>
                    </div>

                    <div class="card-actions">
                        <paper-button on-tap="_onManageGroupResources">Manage</paper-button>
                    </div>
                </paper-card>
            </div>

            <div class="col">
                <paper-card heading="Users">
                    <div class="card-content">
                        <appsco-company-group-roles
                                id="appscoCompanyGroupRoles"
                                group="[[ group ]]"
                                list-api="[[ groupRolesApi ]]"
                                authorization-token="[[ authorizationToken ]]"
                                size="5"
                                preview></appsco-company-group-roles>
                    </div>

                    <div class="card-actions">
                        <paper-button on-tap="_onManageGroupRoles">Manage</paper-button>
                    </div>
                </paper-card>
            </div>

            <div class="col">
                <paper-card heading="Contacts">
                    <div class="card-content">
                        <appsco-company-group-contacts
                                id="appscoCompanyGroupContacts"
                                group="[[ group ]]"
                                list-api="[[ groupContactsApi ]]"
                                authorization-token="[[ authorizationToken ]]"
                                size="5"
                                preview></appsco-company-group-contacts>
                    </div>

                    <div class="card-actions">
                        <paper-button on-tap="_onManageGroupContacts">Manage</paper-button>
                    </div>
                </paper-card>
            </div>
        </div>

    </template>

    <script>
        class AppscoManageGroupComponentsPage extends Polymer.mixinBehaviors([Polymer.NeonSharedElementAnimatableBehavior], Polymer.Element) {
            static get is() { return 'appsco-manage-group-components-page'; }

            static get properties() {
                return {
                    group: {
                        type: Object,
                        value: function () {
                            return {};
                        }
                    },

                    authorizationToken: {
                        type: String,
                        value: ''
                    },

                    groupRolesApi: {
                        type: String
                    },

                    groupContactsApi: {
                        type: String
                    },

                    groupResourcesApi: {
                        type: String
                    },

                    mediumScreen: {
                        type: Boolean,
                        value: false,
                        reflectToAttribute: true
                    },

                    tabletScreen: {
                        type: Boolean,
                        value: false,
                        reflectToAttribute: true
                    },

                    animationConfig: {
                        type: Object
                    }
                };
            }

            static get observers() {
                return [
                    '_updateScreen(tabletScreen, mediumScreen)'
                ];
            }

            ready() {
                super.ready();

                this.animationConfig = {
                    'entry': [{
                        name: 'cascaded-animation',
                        animation: 'fade-in-animation',
                        nodes: Polymer.dom(this.root).querySelectorAll('paper-card'),
                        nodeDelay: 50,
                        timing: {
                            delay: 200,
                            duration: 100
                        }
                    }],
                    'exit': [{
                        name: 'hero-animation',
                        id: 'hero',
                        fromPage: this
                    }, {
                        name: 'fade-out-animation',
                        node: this,
                        timing: {
                            duration: 500
                        }
                    }]
                };

                Polymer.RenderStatus.beforeNextRender(this, function() {
                    if (this.tabletScreen || this.mediumScreen) {
                        this.updateStyles();
                    }
                });
            }

            loadPage() {
                this._loadRoles();
                this._loadContacts();
                this._loadResources();
            }

            addGroupRoles(roles) {
                this.$.appscoCompanyGroupRoles.addGroupItems(roles);
            }

            addGroupContacts(contacts) {
                this.$.appscoCompanyGroupContacts.addGroupItems(contacts);
            }

            addGroupResources(resources) {
                this.$.appscoCompanyGroupResources.addGroupItems(resources);
            }

            removeGroupRoles(roles) {
                this.$.appscoCompanyGroupRoles.removeGroupItems(roles);
            }

            removeGroupContacts(contacts) {
                this.$.appscoCompanyGroupContacts.removeGroupItems(contacts);
            }

            removeGroupResources(resources) {
                this.$.appscoCompanyGroupResources.removeGroupItems(resources);
            }

            _loadRoles() {
                this.$.appscoCompanyGroupRoles.loadItems();
            }

            _loadContacts() {
                this.$.appscoCompanyGroupContacts.loadItems();
            }

            _loadResources() {
                this.$.appscoCompanyGroupResources.loadItems();
            }

            _updateScreen(tablet, medium) {
                this.updateStyles();
            }

            _setSharedElement(target) {
                while (target.tagName.toLowerCase() !== 'paper-card' && !target._templateInstance) {
                    target = target.parentNode;
                }

                this.sharedElements = {
                    'hero': target
                };
            }

            _onManageGroupRoles(event) {
                this._setSharedElement(event.target);
                this.dispatchEvent(new CustomEvent('manage-group-roles', { bubbles: true, composed: true }));
            }

            _onManageGroupContacts(event) {
                this._setSharedElement(event.target);
                this.dispatchEvent(new CustomEvent('manage-group-contacts', { bubbles: true, composed: true }));
            }

            _onManageGroupResources(event) {
                this._setSharedElement(event.target);
                this.dispatchEvent(new CustomEvent('manage-group-resources', { bubbles: true, composed: true }));
            }
        }
        window.customElements.define(AppscoManageGroupComponentsPage.is, AppscoManageGroupComponentsPage);
    </script>
</dom-module>

