<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="appsco-company-groups.html">

<dom-module id="appsco-company-groups-page">
    <template>
        <style include="webkit-scrollbar-style">
            :host {
                @apply --full-page;

                --paper-card-header: {
                     border-bottom: 1px solid var(--divider-color);
                 };

                --item-background-color: var(--body-background-color);
            }
            paper-card {
                @apply --full-page-paper-card;

                --paper-card-header-text: {
                    color: var(--primary-text-color);
                };
            }
            .page-close-action {
                @apply --page-close-action;
            }
        </style>

        <paper-card heading="Groups" id="card">
            <paper-icon-button
                    icon="close"
                    title="Close"
                    class="page-close-action"
                    on-tap="_onBack"></paper-icon-button>

            <div class="card-content">
                <appsco-company-groups
                        id="apspcoCompanyGroups"
                        authorization-token="[[ authorizationToken ]]"
                        groups-api="[[ groupsApi ]]"
                        size="10"
                        load-more
                        on-remove="_onRemoveGroup"></appsco-company-groups>
            </div>
        </paper-card>

    </template>

    <script>
        class AppscoCompanyGroupsPage extends Polymer.Element {
            static get is() { return 'appsco-company-groups-page'; }

            static get properties() {
                return {
                    authorizationToken: {
                        type: String
                    },

                    groupsApi: {
                        type: String
                    }
                };
            }

            _onBack() {
                this.dispatchEvent(new CustomEvent('back', { bubbles: true, composed: true }));
            }

            searchGroups(term) {
                this.$.apspcoCompanyGroups.search(term);
            }

            addGroup(group) {
                this.$.apspcoCompanyGroups.addGroup(group);
            }

            modifyGroup(group) {
                this.$.apspcoCompanyGroups.modifyGroup(group);
            }

            removeGroup(group) {
                this.$.apspcoCompanyGroups.removeGroup(group);
            }

            addGroupsCompanyRoles(groups, items) {
                this.$.apspcoCompanyGroups.addGroupsCompanyRoles(groups, items);
            }

            removeGroupsCompanyRoles(group, items) {
                this.$.apspcoCompanyGroups.removeGroupCompanyRoles(group, items);
            }

            setupPage() {
                this.dispatchEvent(new CustomEvent('show-groups-page-actions', { bubbles: true, composed: true }));
            }

            resetPage() {
                this.dispatchEvent(new CustomEvent('hide-groups-page-actions', { bubbles: true, composed: true }));
            }

            _onRemoveGroup(event) {
                event.stopPropagation();

                this.dispatchEvent(new CustomEvent('remove-group', {
                    bubbles: true,
                    composed: true,
                    detail: {
                        group: event.detail.group
                    }
                }));
            }
        }
        window.customElements.define(AppscoCompanyGroupsPage.is, AppscoCompanyGroupsPage);
    </script>
</dom-module>

